[2017-07-04 18:28] reznord commented on #147
I'd love to go with `styled-components`.

It has pretty good SSR support and very easy in identifying critical-css !!

[2017-07-04 18:32] lukeed commented on #147
Or [`emotion`](https://github.com/tkh44/emotion) 😉

Paging Dr @tkh44

[2017-07-04 18:33] rkostrzewski commented on #147
Yeah, css in js makes it a piece of cake 💯

[2017-07-04 18:37] reznord commented on #147
Emotion doesn't have support for IE11? o.O

[2017-07-04 18:38] reznord commented on #147
And we have this - https://github.com/tkh44/emotion#usage-with-css-modules

[2017-07-04 19:05] SaraVieira opened #190 "Switch autoprefixer for cssnext"
Hi guys,

The main ideia about this issue is to implement [cssnext](http://cssnext.io/) instead of autoprefixr because this already comes bundled with much better syntax helpers and autoprefixr.
Also implement [postcss-import](https://github.com/postcss/postcss-import).

Many people use these two modules in combination and it may be a better starter kit to start with css modules than just having a

[2017-07-04 19:40] feimosi opened #191 "Installation error `callback() can only be called once.`"
I'm getting the following error when running `sudo npm i -g preact-cli`. I've also tried different node / npm  versions with no luck (I was getting #73).

[code]

Tested on the latest versions of node (8.1.3) and npm (5.0.4).
I'm running Arch Linux.

[2017-07-04 19:48] tkh44 commented on #147
@reznord emotion supports ie11 just fine in inline mode.

[2017-07-04 19:51] feimosi commented on #191
It actually belongs to GoogleChrome/simplehttp2server#31, but I'd leave this open for a while, maybe someone has an idea or maybe it's an environment related issue.

[2017-07-04 19:53] tkh44 commented on #147
I've been meaning to add native preact support for you guys 😅

Gimme 10 min

[2017-07-04 19:58] thangngoc89 commented on #147
@tkh44 You have to keep preact/react component in sync once you do that :sob:

[2017-07-04 20:20] tkh44 commented on #147
Yeah but it's < 30 lines

[2017-07-05 10:12] reznord commented on #179
`get-port` doesn't suggest a free `port`. We can do that with [detect-port](https://github.com/node-modules/detect-port).

This doesn't return a promise, so if we want, we have to create our own promise.

Any thoughts?

[2017-07-05 10:17] thangngoc89 commented on #179
@reznord What do you mean by free port? get-port return a new port in case preferred port was occupied

[2017-07-05 10:19] reznord commented on #179
Oh, I didn't know this. Then we can go with get-port itself.

[2017-07-05 14:01] framp commented on #187
Duplicate of https://github.com/developit/preact-cli/issues/185

I created a pull request to fix it: https://github.com/developit/preact-cli/pull/192
You may want to give it a go.

I'm using it like this:
https://github.com/framp/framp.github.io/blob/master/src/prerender-urls.json
https://github.com/framp/framp.github.io/blob/master/package.json#L10

[2017-07-05 14:11] yavorski commented on #189
Hi,
After a little exploration of the code base, I think that this is fairly easy to implement.
Of course I could be wrong (I see it for the first time), but I managed to prepare a pull request.
I tested all localy and it works fine for me and our team.
I hope this would be useful to other teams too, and in general we think that this should be a good option for people using stylus out there.
Looki

[2017-07-05 15:51] #185 closed

[2017-07-05 15:52] lukeed commented on #189
Closed via #194 🎉

[2017-07-05 15:52] #189 closed

[2017-07-05 15:53] yavorski commented on #189
That's Awesome, Thank you!
When we should expect new version, so we could install :)

[2017-07-05 15:53] lukeed commented on #187
Closed via #192 🎉

[2017-07-05 15:53] #187 closed

[2017-07-05 15:54] lukeed commented on #189
Looks like there's a few changes coming for 1.4, including this. I'd wager end of the week at the latest 👍

[2017-07-05 15:55] yavorski commented on #189
Great, thanks! ❤️

[2017-07-05 22:00] #179 closed

[2017-07-06 04:58] prateekbh commented on #36
Does `babel-plugin-transform-async-to-promises` also add runtime generator code?

[2017-07-06 09:11] oren opened #197 "Upgrading preact from 1.1.1 to 1.3.0 required uninstalling preact-cli"
In order to upgrate preact cli I had to do the following:
[code]
(sudo npm update -g preact-cli kept the old version from some reason)

I would like to understand if that's normal, or maybe it's something specific to my laptop.
Here are more details about my setup:
[code]

[2017-07-06 09:23] reznord commented on #197
For me, it works perfectly fine. I have installed `1.1.1` and then upgraded it to `1.3.0` just by running  `npm install -g preact-cli`

This may be because you are running it as sudo?

Btw, installing `npm` with `sudo` is not recommended. You can check the following guides for moving away from `sudo`

- https://docs.npmjs.com/getting-started/fixing-npm-permissions
- https://github.com/sindresorhus

[2017-07-06 12:27] vedam commented on #32
hey all,
I tried to create an app using v1.3.0 with:
[code]
and got an err with a message from -h:
[code]
As following the Readme, where `--stylus`-option is mentioned, I assume it's not yet in the preact-cli?

[2017-07-06 12:30] thangngoc89 commented on #32
@vedam Stylus will be in preact-cli 1.4.0. The master branch is for development

[2017-07-06 14:19] Lizhooh opened #198 "window or document is not defined"
I want to include some **libraries** and **use cdn**.
Where's **index.html**?
What should I do?

**`npm start is no error, but npm run build error:`**
[code]

**`code 1 (window is not defined):`**
[code]

**`code 2  (document is not defined):`**

[code]

[2017-07-06 14:43] developit commented on #198
There's no need to put those in `<head>`, you can just render them using VDOM.

In `components/app.js`:

[code]

For your `code 1`:

[code]

[2017-07-06 18:02] hassanbazzi commented on #198
Check out https://www.npmjs.com/package/window-or-global

:)

[2017-07-07 04:35] gokulkrishh commented on #51
@developit I just noticed the generated `index.html` in `build/` folder doesn't have all meta tags for other platforms. Such as

- **Windows phone**
- `iOS` related meta tags. Safari takes the screenshot instead of app icon for `add to home shortcut`.

Ref - [https://demopwa.in/index.html](https://demopwa.in/index.html). Check the header part

[code]

[2017-07-07 06:58] knight-bubble opened #199 "Eject option"
Are there any plans of adding "eject" option, similar to https://github.com/facebookincubator/create-react-app#converting-to-a-custom-setup?

[2017-07-07 09:53] reznord opened #201 "Better Sass/Less support for css files"
So, right now when we initiate a project, we are generating `less` by default.

Suggestion:
Generate css with `.css` extension and then when initiating a new project using `--less` or `--sass`, rename the files so that the user will not get confused when he opens the respective stylesheets

Any suggestions @developit @rkostrzewski

[2017-07-07 09:54] prateekbh commented on #201
+1 for better editor support

[2017-07-07 10:30] reznord commented on #201
We can use [renamer](https://www.npmjs.com/package/renamer) for moving the files to respective format as specified in the arguments.

[2017-07-07 10:34] thangngoc89 commented on #201
@lukeed is working on a new release with support for template. We should wait until than.

[2017-07-07 11:07] prateekbh commented on #201
the head/body template?
can you refer the PR here?

[2017-07-07 13:32] yavorski commented on #201
We should keep in mind that if the files are with the same contents, they may not be compiled by the specified preprocessor less/sass/styus etc, which can lead to some confusions at the beginning.
One solution is to keep them simple, and do not use features from different css preprocessor.

[2017-07-07 13:58] thangngoc89 commented on #201
@prateekbh There is no PR yet. Since we don't want to introduce thounsands flags to the CLI.

IIRC, the result will be like `preact new my_project --template=less`

This is install all necessary dependencies and create a project with less styling in it. By copying a folder from the main repo.

[2017-07-07 14:59] Lizhooh commented on #198
@hassanbazzi  Thank you, but ...
Swiper.js source  code using `window object`, how to use `window-or-global` to solve the problem ?
Could you give me a demonstration ?

[2017-07-07 15:33] malaniz commented on #191
I'm having the same problem in Arch Linux too.

[2017-07-07 16:01] thangngoc89 commented on #198
@Lizhooh See https://github.com/developit/preact-cli/issues/178

[2017-07-07 16:15] knight-bubble opened #202 "Git initialization error"
There is a strange issue during initialization of git repo. The only output in the command line is:

[code]

I've investigated a bit, and it appears that this line of code is cause of the issue.

[code]

[2017-07-07 16:21] knight-bubble opened #203 ""--install=false" command not working while initialising a project"
So the issue is:
[code]
or
[code]
just do not work. This is valid for git option too. It gets set to true every time.

[2017-07-07 17:22] reznord commented on #201
@thangngoc89 Luke's templating will be a part of 2.0.0 (major release), but until then it is better to handle this issue as I suggested. Since there are quiet a few issues where users got confused because of the default `.less` format.

[2017-07-07 18:16] reznord commented on #203
@knight-bubble the command for this is `preact create project_name --no-install`. You have added an extra '-' ;)

[2017-07-07 18:16] #203 closed

[2017-07-07 18:54] knight-bubble commented on #203
@reznord this a typo here definitely☺
But I'll recheck it tomorrow.

[2017-07-07 22:05] nephix opened #205 "Field 'browser' doesn't contain a valid alias configuration"
This is probably not an issue of preact-cli.
When I run `npm start serve` I get the following error output:
[code]
I don't have any code references to `browser`. My package.json dependencies are:
[code]

What exactly is `preact-cli-entrypoint` and how can I tackle the error message? I recently added `redux-promise`. Could that package be the cause of the issue?

[2017-07-08 04:03] oren commented on #197
very helpful links. thank you!

On Thu, Jul 6, 2017 at 2:23 AM, Anup <notifications@github.com> wrote:

[2017-07-08 04:07] Lizhooh commented on #198
@thangngoc89 ok, thank.

[2017-07-08 04:18] Lizhooh commented on #198
( ^_^ ), then the solution is::
**add npm scripts**:  `"np-build": "preact build --no-prerender"`
**run:** `npm run np-build`

[2017-07-08 07:22] reznord commented on #197
Did your issue got resolved?

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-08 09:07] oren commented on #197
Not sure since I already have the recent version. I will close this untill the next version upgrade. Thank you.

[2017-07-08 09:07] #197 closed

[2017-07-08 10:03] rkostrzewski commented on #205
Hi @nephix `preact-cli-entrypoint` is an alias to `index.js` file with your code exporting root component. The wepack's output is too verbose and will be resolved by #206 so you shouldn't bother about it.

What webpack tries to say is that it couldn't find the entry file in it's known locations which are (`$PWD/index.js` like in [this example](https://github.com/developit/preact-cli/tree/master/ex

[2017-07-08 10:43] nephix commented on #205
Hi @rkostrzewski,

ah ok I understand. My project structure is:
[code]
I didn't change the project structure that preact-cli created, only added new directories. That's why I'm wondering that the issue is somewhere else but I'm pretty clueless about the error message that I get

[2017-07-08 11:08] nephix commented on #205
I removed the `/build` directory and `npm run serve` runs smoothly now. Still not sure what caused the issue.

[2017-07-08 11:08] #205 closed

[2017-07-08 11:14] #178 closed

[2017-07-08 13:41] knight-bubble commented on #203
@reznord you were right:)

[2017-07-08 14:36] knight-bubble commented on #202
It looks like the issue is caused by missed email in the global config of git.

[2017-07-08 18:11] kurtextrem commented on #123
Another interesting project: https://github.com/gajus/usus "Renders page using Chrome Debugging Protocol (CDP)"

[2017-07-08 21:44] thangngoc89 commented on #123
@reznord I know this day would come. Check out https://github.com/gajus/usus

Thanks @kurtextrem for the link

[2017-07-09 10:48] reznord opened #208 "Rebuild the application after installing a new package"
So, right now when I add a new package to the project, I have to restart the dev build, so that I can use the package that I've added.

It would be great if we can trigger a rebuild when a new package is added. CRA has this functionality and it is quite useful.

Any suggestions @developit @lukeed @rkostrzewski

[2017-07-09 15:57] knight-bubble opened #209 "Custom project templates plans"
Not sure if there is already such issue or a discussion. If there is already something like that, point me to it please.
Are there any plans of allowing as template git repo, as done in vue-cli?
There are also a lot of features related to templates in vue-cli.
I think it can be helpful to use metalsmith for scaffolding of projects.

[2017-07-09 16:06] knight-bubble commented on #208
@reznord In the CRA it's done by https://github.com/facebookincubator/create-react-app/blob/master/packages/react-dev-utils/WatchMissingNodeModulesPlugin.js
And called like this https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/config/webpack.config.dev.js#L272

[2017-07-09 16:35] lukeed commented on #209
Hey! Yes, this is a duplicate of #99. Interested in hearing your thoughts & ideas, so please do share over there. 👍

Closing in favor of that thread.

[2017-07-09 16:35] #209 closed

[2017-07-09 16:41] reznord commented on #208
@knight-bubble I've seen this. Asking if adding this will get or helpful or not.

[2017-07-10 05:22] prateekbh commented on #199
Is there an ongoing effort for this? else I am planning to take this up and discuss the approaches we can take for this.

[2017-07-10 05:59] reznord commented on #123
I'll take up this !! Self assigning !!

[2017-07-10 11:12] reznord commented on #123
@thangngoc89 @developit How about this - https://github.com/kriasoft/isomorphic-style-loader ?

[2017-07-10 11:17] thangngoc89 commented on #123
It looks unnesserary complicated to me. Webpack gonna have first class css support soon so we can have css splitting put of the box. What's wrong with parsing generated HTML output for classes? We only need to inline those classes. Nothing else

[2017-07-10 16:39] developit commented on #199
I'm not really sure we need eject, since it's possible to customize configuration already.  What is the value we get out of providing eject?

[2017-07-10 16:40] developit commented on #188
Just dropping a note here - I think plugins would make this event better.  I'm fine with the wiki, since these are likely too specific and lengthy for the readme itself.

[2017-07-10 16:41] developit commented on #188
Wiki space for the above:
https://github.com/developit/preact-cli/wiki/Config-Recipes

[2017-07-10 16:50] lukeed commented on #199
I agree ^^ CRA came with `eject` because it started off with a closed door -- you either liked what you got, or you didn't.

[2017-07-10 20:55] andrevargas opened #213 "Error 404 when registering Service Worker in GitHub Pages"
Hello!

I'm new to this world of PWA's, so I'm trying to use **Preact CLI** as my first _real world_ experience. Therefore, I'm deploying my app to **GitHub Pages**, using [gh-pages](https://www.npmjs.com/package/gh-pages), to get HTTPS domain and stuff.

I'm trying to host my app in a URL like this: [my-username.github.io/my-app-name](http://my-username.github.io/my-app-name). So, I'm getting an

[2017-07-10 21:29] developit commented on #213
Ah looks like we need to do something to support a base path like that.

[2017-07-11 05:48] prateekbh commented on #199
Not sure, I just felt that `eject` would give user land an option to do anything if they're stuck at any corner case. I know the work for keeping `cli` flexible is super awesome, but I am the believer that one solution might never fit all. This is when `eject` makes cli as a boilerplate code.

But yes I do not have a solid use case for now, and may be we can keep this as a P2/P3 for sometime later

[2017-07-11 07:45] knight-bubble commented on #99
@lukeed @developit is the work already started on this?

[2017-07-11 07:52] lukeed commented on #99
@knight-bubble Yup! I have the core logic in another module right now. Just waiting as we gather other features that constitute a 2.0 before I port it over.

[2017-07-11 10:35] thangngoc89 commented on #99
I think that we should put everything in a single repo instead, putting it in a github org with many repos won't get many reviewers

[2017-07-11 11:35] thangngoc89 opened #214 "Error: Cannot find module 'extract-text-webpack-plugin' with npm@5.2.0"
[code]

Error:

[code]

Reproduce:

- Init new project `preact create test && cd $_`
- `npm start`

P/s:

This only happens with npm@5.2.0. For some reason, node can't resolve it

[code]

My rule of thumb is if you use it, you must install it first. Thoughts @developit @lukeed ?

[2017-07-11 11:41] reznord commented on #214
@thangngoc89 can't able to reproduce.

Might be because during installation of node_modules, something got missed.

Can you try removing node_modules and reinstalling them?

[2017-07-11 11:47] thangngoc89 commented on #214
@reznord I reproduced this twice.

[2017-07-11 11:50] andrevargas commented on #213
@developit Yeah. This assumption is so true that when I first deployed, I got 404 when fetching the most basic files:

![404 Errors](http://i.imgur.com/kKIxIGn.png)

Of course this can be fixed just by overriding the `template` or some `webpack` config. But for **service worker** files, it's a special case.

Do you think it's relevant to add this option right now? Deploying to GitHub Pages may be

[2017-07-11 11:50] thangngoc89 commented on #214
Apparently, npm installed it but node can't resolve it

[code]

[2017-07-11 11:51] thangngoc89 commented on #213
@andrevargas I think Github Pages is still the most popular choice for deploying a static sites.

[2017-07-11 12:16] reznord commented on #214
Looks like an `npm` issue for me. In 5.0.1, I am not able to reproduce this.

[2017-07-11 12:30] prateekbh commented on #36
@developit `babel-plugin-transform-async-to-promises` seems to be adding a minimal code of 45 bytes. Will we be up for taking it as a trade-off. or should this be same plugin kind as we discussed for lo-dash?

[2017-07-11 14:26] slaskis commented on #214
Same issue if you try to use [npx](https://www.npmjs.com/package/npx) to create a new app:

[code]

Which otherwise would be an awesome way to use preact-cli.

[2017-07-11 14:34] thangngoc89 commented on #214
@slaskis Actually it's how I discovered this bug. :D . Wanted to try out npx on npm@5.2.0

[2017-07-11 15:35] developit commented on #214
sounds like an npm dedupe issue

[2017-07-11 15:40] thangngoc89 commented on #214
@developit My point still stand. We are importing extract-text-webpack-plugin directly in the code, so we should install directly

[2017-07-11 15:55] reznord commented on #214
I agree with @thangngoc89. Webpack 3 has separated the [plugin](https://github.com/webpack-contrib/extract-text-webpack-plugin) totally. I guess it is better to install it separately.

[2017-07-11 16:00] thangngoc89 commented on #214
@reznord Could you make a PR to replace @webpack-blocks/extract-text2 with extra-text-webpack-plugin directly? We dont use `@webpack-blocks/extract-text2` directly anymore.

[2017-07-11 16:01] reznord commented on #214
@thangngoc89 ayeee... enroute a PR. 😄

[2017-07-11 16:07] SaraVieira commented on #190
To Be done in a plugin shortly so closing my own issue :P

[2017-07-11 16:07] #190 closed

[2017-07-11 16:23] reznord commented on #214
@thangngoc89 we are not using that anywhere as of now. Probably extra bloat I guess. I guess this might be using in the `Complete SSR` PR from @rkostrzewski

[2017-07-11 16:25] thangngoc89 commented on #214
@reznord I'm not follow. We're using extract-text-webpack-plugin but not webpack-block/extract-text2.

[2017-07-11 17:47] lukeed commented on #99
@thangngoc89 Not sure what you mean? My remote-templates feature will be part of `preact-cli` internals.

What I'm saying is, that I have the same logic _already_ inside another module of mine. So, when we're getting closer to a `preact-cli@2.0`, I will extract the logic _from_ my module & add it to `preact-cli`

[2017-07-11 17:57] rkostrzewski commented on #75
#56 landed closing this

[2017-07-11 17:57] #75 closed

[2017-07-11 17:59] thangngoc89 commented on #99
@lukeed I was replied to @developit about this

In my mind, I think he's talking about each template will be in an individual git repo, which is going to be madness (updated multiple projects at once, get reviewer,...)

[2017-07-11 18:06] lukeed commented on #99
Oh, I missed that / forgot that was said. 😆

[2017-07-11 18:45] jeffposnick commented on #213
FWIW, passing in a relative URL to `navigator.serviceWorker.register()` is sometimes the right approach. The one reason *not* to use a relative URL is if you have subpaths underneath your top-level path. I don't know how common that would be with `preact-cli`-scaffolded web apps, but if there's a chance that navigations might be done to anything other than a single-level path, it's best to continu

[2017-07-11 19:07] reznord commented on #213
in CRA, it will ask you to add a `home_page` URL and it will use that as a the public_path. (IIRC)

[2017-07-11 19:22] reznord opened #216 "git stage all files during initialising a repo?"
I wouldn't normally prefer having an automated commit since the user might think it as a "magic".

More over, seeing from a user point of view, I wouldn't really like to commit right after creating a repo.

Leaving this with tagged discussion.

[2017-07-12 04:44] prateekbh commented on #216
☝️ in addition to everything @reznord  said, also the the notion of adding everything with `-A` and making a commit might create undesired results for a monolithic repo kind of scenario.

I guess its ok to setup the entire structure and get it running, but what to commit and when to commit should be completely left to the user.

What does everyone think about it?

[2017-07-12 05:02] Connorelsea commented on #214
Got this error using the latest NPM, was able to "fix" by simply using yarn instead. For anyone stuck: `yarn global add preact-cli`

[2017-07-12 09:19] prateekbh commented on #216
will raise a PR after #207 is merged, code is ready in local btw

[2017-07-12 16:39] developit commented on #1
not sure why it's complaining

[2017-07-12 16:49] rkostrzewski commented on #188
Filled with recipes

[2017-07-12 16:49] #188 closed

[2017-07-12 16:54] reznord commented on #1
Sorry greenkeeper for now!. Bye bye 😞

[2017-07-12 16:54] #1 closed

[2017-07-12 17:03] reznord opened #218 "homepage path for production builds"
It would be better if we can ask the user to add a homepage url/public url which we can use for providing a path for service workers.

[2017-07-12 17:16] reznord opened #219 "Badges in readme"
Would be great if we can add badges to the `README.md`.

To name a few:

- Build Status badge
- npm badge
- Slack badge

[2017-07-12 19:37] #110 closed

[2017-07-12 23:59] unlocomqx opened #220 "Lighthouse http issue"
When lighthouse tries to check if http redirects to https (I think) it encounters an error (ERR_CONNECTION_RESET)
This site can’t be reached

So http://localhost:8080/ doesn't work

Can anyone try to reproduce this issue?

I used `npm run serve` for this

[2017-07-13 00:54] steve-a-jones commented on #40
Can you please clarify how to get local https working out of the box with preact-cli? - I haven't done a deep dive into this and am also not completely familiar with configuring certs. I see the the approach of adding the certs included in this repo is not recommended due to vulnerabilities and that devcert was added instead -- with that I am still seeing the "Your connection is not private" issue

[2017-07-13 04:02] #198 closed

[2017-07-13 08:56] SaraVieira opened #223 "Cannot find module /ssr-bundle.js"
Hello,

I'm getting this error building a super simple website the source code is here:
https://github.com/Mindera/ocqd

<img width="606" alt="screenshot 2017-07-13 09 54 03" src="https://user-images.githubusercontent.com/1051509/28158299-365a25e8-67b1-11e7-834b-f3e1926b715e.png">

Anyone have any ideia why this is happening ?

Thank you

[2017-07-13 14:24] yavorski opened #224 "Render default template.html with Preact instead ejs"
Hi

I am talking about the `template.html` which is located [here](https://github.com/developit/preact-cli/blob/master/src/resources/template.html).
After general discussion in the slack channel, the suggestions are:

Put in your `template.html` file

[code]

Then in `template.js`

[code]

Some addition, still not tested:

[code]

And some thoughts from @developit

TLDR;

In general I am opening t

[2017-07-13 15:52] reznord commented on #219
Fixed in #221.

[2017-07-13 15:52] #219 closed

[2017-07-13 16:31] SaraVieira commented on #208
@reznord how about a postintall script in the package.json that runs preact build?

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-13 16:37] reznord commented on #208
I don't think that will work, since the user may install a package from a new terminal instance. In that case the postinstall script doesn't work.

[2017-07-13 16:48] developit commented on #208
The CRA plugin looks neat.

[2017-07-13 16:49] reznord commented on #208
Cool, I'll take this on.

[2017-07-14 07:04] reznord opened #226 "Error while running `npm run lint` in preact-cli"
`npm run lint` is failing with the following error:

<img width="1280" alt="image 2017-07-14 at 12 29 32 pm" src="https://user-images.githubusercontent.com/3415488/28201832-6fb411a2-6890-11e7-976d-32220c02c761.png">

It cannot find `eslint-config-synacor` module. I tried removed the `node_modules` and re-installed again still I am getting the same issue.

Node version: 8.1.3
Npm version: 5.0.1

[2017-07-14 07:14] reznord commented on #226
adding `eslint-config-synacor` to deps directly works perfectly fine.

wondering if this is an issue with `npm dedupe`. I've had this issue with `npm@5.2.0` but not with `npm@5.0.1`.

[2017-07-14 15:12] bchociej commented on #116
Granted that it's not preact-cli's problem, but needing root to install globally is the correct situation for many distro-packaged node.js installs, so it should be supported.

[2017-07-14 15:26] thangngoc89 commented on #116
@bchociej It's supported. You just need to give it sudo permission.

[2017-07-14 15:34] bchociej commented on #116
Ack, sorry. I ran it once with sudo and it didn't work:

[code]

[2017-07-14 16:01] yavorski commented on #201
Hi I managed to do that without adding new deps. Just used `copy` & `rimraf` which are already there, and they do the work. Hope it's okay, until we have better options mention above.

[2017-07-14 16:45] reznord commented on #201
@yavorski can you make a PR?

[2017-07-14 19:52] malbernaz commented on #36
`babel-plugin-transform-async-to-promises` is currently unmaintained, and by own experience i can say that it often produces unexpected behaviour. Another option I've been looking at is `fast-async`. It uses nodent under the hood and can compile async functions to promises as well (if properly configured) without the need for a runtime.

[2017-07-14 20:30] ooade opened #229 "Misleading docs with unpublished package"
I feel the docs shouldn't be updated on the master branch till the package is released because it's kinda misleading. I tried the --prerenderUrls option for couple minutes only to find out it wasn't published to npm yet.

[2017-07-14 20:35] yavorski commented on #229
@ooade
Hint: Read the `tagged` docs if you want to reed the docs for the exact version you are using.
Example with `1.3.0`: https://github.com/developit/preact-cli/tree/1.3.0

[2017-07-14 20:35] lukeed commented on #229
Oh, yeah. Looks like we got side-tracked on actually getting a release out! Had a lot of PRs flying in this week. 😅

[2017-07-14 20:53] ooade commented on #229
@yavorski IKR. But I guess my issue is pointless since everyone using preact-cli know how to use github well 😥

[2017-07-14 20:58] yavorski commented on #229
@ooade
In general that's one the benefits using `tags`. You could search for more. I'm sure you will like it!

[2017-07-14 21:25] yavorski commented on #201
#230 overwrite #228 ... and switching `.less` files to `.css` in `exaples/full` template...

[2017-07-14 23:58] krokofant commented on #229
@ooade If they don't know how to use github then why would they look at the master docs instead of the npm-published docs? 🤔

[2017-07-15 01:12] developit commented on #229
Ideally I'd like to have the docs for whatever the current release is hosted elsewhere, perhaps on the Preact website.  That seems like a nicer and more official solution to @ooade's concern - I've actually had a few questions about the docs being master VS release recently.  It's usually because I'm holding up a release, which I think we can also solve by me not being the gatekeeper for releases

[2017-07-15 06:47] ooade commented on #229
That's better @developit :)

[2017-07-15 06:47] #229 closed

[2017-07-15 07:31] ooade commented on #223
Steps to reproduce?

[2017-07-15 17:02] #208 closed

[2017-07-15 17:40] mukeshyadav commented on #223
I am facing same issue, did you get any success.

[2017-07-15 18:33] #202 closed

[2017-07-16 09:59] #23 closed

[2017-07-16 10:21] #223 closed

[2017-07-16 10:59] rkostrzewski commented on #223
This should be fixed in next release.

[2017-07-16 11:03] rkostrzewski commented on #220
Hi @unlocomqx, does opening `https://localhost:8080` work without any SSL errors ? Seems like certificates are incorrect. What os are you on?

[2017-07-16 11:05] reznord commented on #220
I just checked this issue, it works fine for me. Although if https is used, its better to redirect him to `https` even if he opens in `http`. Could that be possible?

[2017-07-16 12:19] mehmetkose opened #232 "single build.js"
Hi guys,

For some reasons, the end of the day, I need just only one "build.js" file. Like same as preact-boilerplate. Is there any parameter for that?

I want: index.html, style.css, build.js

And then my tasks,

will merge into index.html

[2017-07-16 12:29] SaraVieira commented on #223
Awesome thanks @rkostrzewski !

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-16 13:24] unlocomqx commented on #220
Chrome is showing "Valid cert" in the security tab of the devtools
I switched to using a h2 apache local server pointing to my build dir for now but I'll try to investigate this ERR_CONNECTION_RESET problem
So I'm fine for now but I'm still curious

[2017-07-16 13:39] unlocomqx commented on #220
When I open http://localhost:8080 this error comes up
http: TLS handshake error from [::1]:58618: read tcp [::1]:8080->[::1]:58618: use of closed network connection

I'm on windows 10 x64

It seems similar to https://github.com/GoogleChrome/simplehttp2server/issues/16

[2017-07-16 16:14] reznord commented on #46
fixed in #206

[2017-07-16 16:14] #46 closed

[2017-07-17 00:43] timarney opened #236 "Adding Google Fonts"
Is there any way to add to the index file to include Google Fonts?

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

[2017-07-17 00:55] developit commented on #236
Totes - 3 options for this that I'm aware of.

1. Import it from some css:

[code]

[code]

2. You can SSR it!

[code]

3. Specify a custom HTML template and make it all your own. I recommend starting from the [internal default HTML template](https://github.com/developit/preact-cli/blob/master/src/resources/template.html).

[code]

The only issue with --html-template is that if preact-cli updates

[2017-07-17 01:04] developit commented on #220
Hi @unlocomqx - is it possible you have a Firewall prevent this from working?  You can check by spawning the server on a different port:

[code]

then open http://localhost:9090

[2017-07-17 01:05] developit commented on #224
Totally. I think we might be able to do this by inspecting the file extension of the template that gets passed to us - if it's `js` or `jsx`, we'd interpret that as a function that returns either VDOM or HTML, and if it returns VDOM we'd run that through `preact-render-to-string`.  Love this idea!

[2017-07-17 01:05] developit commented on #226
Weird...

[2017-07-17 01:06] developit commented on #218
Do you mean for loading in a subdirectory?  Usually serviceworkers are just loaded via `/sw.js`.

[2017-07-17 01:07] developit commented on #214
^^ Ahh interesting, I didn't realize we had moved off of webpack-blocks for this already. Definitely best to add it as a dependency then.

[2017-07-17 01:09] developit commented on #199
Yup. I think the main blocker here is that we have nicely structured the CLI instead of keeping it as a single monolithic `webpack.config.js`, which means that in order to produce a standalone webpack config we'd have to move back to writing things as a big standalone webpack config (or do crazy codegen magic).

[2017-07-17 01:10] developit commented on #213
^ I'd be up for adding a `--public-path /root-dir` option to `preact build`, and/or looking for `process.env.PUBLIC_URL`.

[2017-07-17 01:13] developit commented on #99
^ subfolder is an interesting idea, and that would serve the default templates well:

`preact create some-default-template foo`

`preact create user/custom-template bar`

Make sense?

[2017-07-17 01:15] developit commented on #99
Only issue I can see (just realized this) is that it's possible we'd actually want the default templates to be version-locked to preact-cli, because they are kinda based on whatever version of the CLI you have running.  For example - in a month, whatever the current default template is might not work with `preact-cli@1.0.0`.

Thoughts?

[2017-07-17 01:18] unlocomqx commented on #220
I already opened all ports temporarily to make a test but nothing works.
I also tried 9090 and also other hosts but no success
I opened this issue https://github.com/GoogleChrome/simplehttp2server/issues/33 hoping I could find a solution
Thank you for this awesome framework, I'm getting the hang of it and it's great!

[2017-07-17 01:32] timarney commented on #236
Nice - thanks for taking time to show the options.  Works great.

[2017-07-17 01:32] #236 closed

[2017-07-17 01:39] developit commented on #232
Right now you'd have to add a `preact.config.js` to your project with the following:

[code]

[2017-07-17 01:49] developit commented on #223
1.4.0 should be going out tomorrow :)

[2017-07-17 01:50] developit commented on #220
Perfect, we'll track there and only close this issue once it's resolved :)

[2017-07-17 02:00] lukeed commented on #224
I've arrived to the same practice in my own preact project right now. :raised_hands: Still working out kinks, but I think it's doing nicely!

[2017-07-17 02:00] developit commented on #36
+1 for fast-async, especially if we can make it opt-in.  I haven't done enough testing of async-to-promises but the lack of a maintainer is mildly concerning.

[2017-07-17 02:11] prateekbh commented on #36
@developit how about a plugin for this? or are you thinking a flag?

[2017-07-17 02:12] prateekbh commented on #199
oh yeah, I guess we can park this for now, until someone comes up with a solid use case

[2017-07-17 02:30] prateekbh commented on #218
IIRC a service worker loaded from a specific folder cannot control its parent routes

[2017-07-17 02:35] reznord commented on #201
This is good to go. Closing.

[2017-07-17 02:35] #201 closed

[2017-07-17 02:37] reznord commented on #213
I wouldn't go for a flag. It looks ugly.

Instead we can add it to the `package.json` and read it from there.

[2017-07-17 05:27] reznord commented on #32
In `v1.4.0`, default styling is set to `.css` and based on the arguments specified `--less` or `--sass` or `--stylus` you can configure the project.

PR for this - #230

[2017-07-17 05:27] #32 closed

[2017-07-17 05:41] reznord commented on #12
I have tried it in my machine and this issue is no more.

@marvinhagemeister can you pleas confirm this, if you are facing the same issue still?

[2017-07-17 06:46] thangngoc89 commented on #12
Looks like this one https://github.com/developit/preact-router/issues/198

[2017-07-17 10:06] mehmetkose commented on #232
I changed the name of **routes** folder and worked. thanks.

[2017-07-17 10:06] #232 closed

[2017-07-17 13:36] fokusferit commented on #214
We also got to the same problem. The current issue rises when we don't install preact-cli globally and use it from the `node_modules`.

[2017-07-18 03:49] #216 closed

[2017-07-18 03:53] developit commented on #213
Only issue there would be if you wanted to build with different output paths (maybe development and production). Perhaps it's best to leave this up to `preact.config.js`.

[2017-07-18 04:33] prateekbh commented on #213
@reznord  @developit @rkostrzewski  i am planning a preact cli workbox plugin which will simplify all of this process without a flag, if we can get #85 to merge/review, or even get the discussion started

[2017-07-18 09:28] wub commented on #10
In the meantime, you can drop in [this plugin](https://github.com/wub/preact-cli-plugin-typescript)

[2017-07-18 10:15] marvinhagemeister commented on #10
@wub That's awesome! I guess this can be closed now.

[2017-07-18 10:15] #10 closed

[2017-07-19 14:18] porfirioribeiro commented on #191
I also had this problem, it's a permissions problem somehow.
So i fixed it by changing my global modules folder to be in my home folder, so do not need to use sudo
https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-07-19 16:54] nephix opened #242 "Run dev server as https"
When I run the dev server via `npm start` I can access my preact app at `http://0.0.0.0:8080`.

When working with `navigator.geolocation` I get the follow console message in Chrome:
[code]

My only workaround at the moment is to run `npm run serve` or use Firefox on my Phone to test & develop my app.

Is it possible to run the dev server as https or add that feature in future releases?

[2017-07-19 17:49] prateekbh commented on #242
can you try running on localhost:8080 instead?
 i guess localhost is exempted from these

[2017-07-19 18:01] nephix commented on #242
Hey @prateekbh,

yes localhost works but it's not solution for tests on mobile devices. Thanks anyway

[2017-07-19 18:04] prateekbh commented on #242
ummm you can port forward it from chrome://inspect. no extension, ships with chrome

[2017-07-19 18:31] timarney opened #243 "Template execution failed - build"
When running the build command with version 1.4.0 I'm getting the following error

[code]

[2017-07-19 20:43] rubencodes opened #244 "Importing `create-hmac` causes `process is not defined` error"
I'm using the `create-hmac` npm package in my `preact-cli` project, and it seems to be causing a runtime error: `Uncaught ReferenceError: process is not defined`. This happens even when building using the `--no-prerender` flag. I also tried changing the import into a `require` and wrapping it in `if(typeof window !== 'undefined')`, but this still caused the same error.

I've created a sample proje

[2017-07-19 21:01] lukeed commented on #244
Not sure how to approach this; but this is why it's happening:

* Set `target: 'node'` [here](https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-server-config.js#L22-L24) for prerendering
* Doing so changes Webpack's [`resolve.mainFields`](https://webpack.js.org/configuration/resolve/#resolve-mainfields) value

I don't think we can/should add "browser" fields when targetti

[2017-07-19 21:03] rubencodes commented on #244
Thanks for the suggestions! I'll try this out and report back.

[2017-07-20 00:08] rubencodes commented on #244
So, the `create-hmac/browser` file imports the `cipher-base` package which is what uses the `process` variable, so I might be outta luck for now. :/

[2017-07-20 00:12] developit commented on #244
It's strange though - I think @rubencodes was seeing the error at runtime?

[2017-07-20 00:13] lukeed commented on #244
Ah, bummer!

Another thing you can try is modifying your webpack config to add the following:

[code]

Since we're setting `node` as the target, webpack sets `process:true` by default, which assumes native.

Just a guess, but it's all I can think of.

[2017-07-20 00:27] rubencodes commented on #244
@developit Yeah it compiles fine, but (for example) if I put the require within a function, it errors on the execution.

@lukeed That seems to do the trick!!

[2017-07-20 05:45] nephix commented on #242
@prateekbh I was not looking for other workarounds when opening the issue. But thanks for pointing both solutions. If we could have https implemented as a feature that'd be great.

[2017-07-20 05:48] prateekbh commented on #242
sure, just wanted to unblock you while we discuss and take this ahead 👍

[2017-07-20 05:48] reznord commented on #242
@nephix will a flag `--https` do the work in the `npm start` so that you can start the dev server using `https`?

[2017-07-20 05:49] reznord commented on #242
or something like an env var like `HTTPS=true npm start`

[2017-07-20 05:51] nephix commented on #242
@prateekbh both would be fine. I would prefer a flag.

[2017-07-20 05:52] reznord opened #245 "Bug: yarn start throws an error"
Package Versions:
- Preact-cli: v1.4
- node: 8.1.4

When we initiate the project using yarn by `preact create my-app-name --yarn` and then run the development server using `yarn start` it throws the following error:

[code]

[2017-07-20 05:57] lukeed commented on #242
I haven't done it in a while, but you can already run [`watch`](https://github.com/developit/preact-cli/blob/master/src/commands/watch.js#L43-L57) with the `--https` flag.

[2017-07-20 05:58] lukeed commented on #242
If you don't want to modify the `start` definition directly, anything you pass after `--` will be sent to `preact-cli` (instead of `npm` itself).

[code]

[2017-07-20 06:03] #245 closed

[2017-07-20 06:38] reznord commented on #242
for npm start command we are doing the following:
[code]

so, if you want to use https on npm start you have to do the following:

[code]

[2017-07-20 06:49] lukeed commented on #242
Oh, forgot 😅 I don't like logic inside a command, so I break apart `start` and `watch` commands.

[2017-07-20 07:21] nephix commented on #242
Environment variable a la `HTTPS=true` seems to be much more elegant then instead of
[code]
:smile:

[2017-07-20 13:37] CedarDCX opened #247 "Dynamic routes and content from CMS"
I'm trying to setup a preact-cli environment where the content and the routes are defined by a CMS but am struggling to understand how to implement this. Is this even possible to do? At the moment all of the components and routes are hard coded in the src files, how can this be made dynamic?

[2017-07-20 21:21] lukeed commented on #247
Hi there! Unfortunately, `preact-cli` can only prerender _static_ pages. You'd have to setup your dynamic pages to `fetch` data from your CMS API in the `componentWillMount` cycle of your dynamic route.

For a quick example:

[code]

Both `Home` and `About` can be pre-rendered. Your `Posts` component will look something like this:

[code]

Hope that helps!

[2017-07-21 06:48] reznord opened #248 "Interactive `preact create` command"
Tagging this issue as discussion so I can get opinion on having an interactive `preact create` for initializing the project using `preact-cli`.

If we want to use interactive `preact create` i.e. `preact init` there will not be any flags. Which in my opinion is awesome. 😄

All the flags in the current `preact create` command will be prompted as questions to the user.

[2017-07-21 06:55] SaraVieira commented on #248
I really like this idea!

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 06:56] prateekbh commented on #248
Please still keep `--default` flag, like `npm init -y`

[2017-07-21 07:06] reznord commented on #248
Sure, default flag is a must :D

[2017-07-21 18:44] lukeed commented on #244
@rubencodes Do you think this is okay to close?

[2017-07-21 19:22] ajoslin opened #249 "Support something akin to `getInitialProps` on App component"
Ideally, similar to Next.js, each route could define a function that returns a Promise, which will defer prerendering until it resolves. This allows components to fetch their initial data (eg from a CMS) before prerender happens.

I'd love to open a PR supporting this. I went through the code to see how I would implement it, and I have a couple of questions.

Currently, an ssr function [is defined

[2017-07-21 19:27] ajoslin commented on #249
In the long run, it would be best to have `getInitialProps` on each component rendered by the `Router`, but that would require preact-cli to be able to get the component matching the current route. I've heard that this functionality is in the works (?), but that sounds like a later step anyway. We can get basic `getInitialProps` on the App component with async prerendering, that's most of the work

[2017-07-21 19:56] steve-a-jones commented on #122
Completely agree @developit here -- I'm currently using preact-cli and while it is very cutting edge I recognize that it is very early stages as has a lot of room for improvement documentation-wise.

There will always be conflicting perspectives on what responsibilities open source project maintainers should take on, but the existence of issues such as this indicate areas for improvement, which is

[2017-07-23 04:25] ekanna opened #250 "components directory rename - css not rendering"
I have renamed ```components``` directory to ```pods```, only javascript part of component is working. Component css is not rendering.

[2017-07-23 04:29] lukeed commented on #250
Hi! We only have `components` and `routes` directories mapped for CSS. You can see that [here](https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-base-config.js#L177-L195).

You'd have to revert the rename, or [customize your webpack](https://github.com/developit/preact-cli#webpack) to include the new name of your directory.

[2017-07-23 14:16] reznord opened #251 "Use "nyr" for handling scripts"
Taking suggestion from the [comment](https://github.com/developit/preact-cli/pull/246#issuecomment-317205155) by @developit, it is better to go with [nyr](https://github.com/simonkberg/nyr) for scripts.

[2017-07-23 14:59] yavorski commented on #251
Replace `scripts` section in `package.json` with yarn specifics if user is installing with `--yarn`?
Or directly provide different `package.json` file?

[2017-07-23 15:10] filoxo opened #252 "Clean installation of preact-cli fails to build"
I was working on upgrading to the latest version last night to debug a separate problem and decided to go ahead and update from 1.3.0 to 1.4.0, as well as a totally new install on a fresh install of node.

node -v: v6.9.5
npm -v: 5.1.0
preact -v: preact-cli 1.4.0 (upgraded from 1.3.0)

---

node -v: v8.2.1
npm -v: 5.3.0
preact -v: preact-cli 1.4.0 (new install)

I generated a new project using `cr

[2017-07-23 16:06] endamccormack commented on #96
@developit i'm trying to use the preact-mdl with the preact-cli template. I'm new to preact/react so this could just be my lack of understanding but when I do the standard `import mdl from 'material-design-lite/material'; ` which works fine on `dev` is failing on `preact build` and im getting
`Error: ENOENT: no such file or directory, open 'src/~/material-design-lite/dist/material.js`
along with a

[2017-07-23 16:50] reznord commented on #252
Can you try re-installing the `node_modules`?

[2017-07-23 16:53] reznord commented on #251
That is what happening currently. You can see the code [here](https://github.com/developit/preact-cli/blob/master/src/lib/setup.js#L42-L64).

[2017-07-23 17:01] filoxo commented on #252
Sorry if that wasn't clear. I've deleted all of node_modules (several times), reinstalled, and also created a brand new project from a totally clean node install. Same results in both cases.

[2017-07-23 17:03] yavorski commented on #251
@reznord I see. Can you please elaborate a bit more on the actual issue?

[2017-07-23 17:06] reznord commented on #251
( slacking you )

[2017-07-23 17:39] developit commented on #251
The issue was that you might install via yarn but then run via npm, or you uninstall yarn or something. I actually asked about this on Twitter and it seems like people just use `npm` in npm scripts, even if they only intend to run via Yarn.  The reason is because `npm` is always installed if you have node (which is required for running preact-cli and yarn), but `yarn` is an optional thing, not ins

[2017-07-23 17:39] developit commented on #252
I've seen this reported elsewhere too - I wonder what is installing `loglevel`?

[2017-07-23 17:46] filoxo commented on #252
@developit its a [webpack-dev-server dependency](https://github.com/webpack/webpack-dev-server/blob/master/package.json#L20) that at some point got moved to devDependencies and published(?). Not sure how that affected old versions–making fallback versions not work–but the issue I linked to has further details/dicussion. Its fixed with `webpack-dev-server@2.6.0` so maybe its as easy as updating to

[2017-07-23 17:50] developit commented on #252
Sounds about right!

[2017-07-23 18:07] yavorski commented on #251
So if `npm` and `npm run` is always available, why we should use `yarn run` or `nyr sth` at all?

[2017-07-23 18:14] #252 closed

[2017-07-23 18:24] thangngoc89 commented on #96
@endamccormack your issue might not be the same with this issue. Could you open a new issue with full stack trace?

FYI, you can require in the if check

[code]

[2017-07-23 18:44] developit commented on #251
That was sortof my feeling, but I know people are passionate about Yarn 🤣

[2017-07-23 19:01] lukeed commented on #251
IMO not really needed 😄

[2017-07-23 19:11] yavorski commented on #251
I truly believe we don't need to complicate current setup in this way. :)

[2017-07-24 00:23] yavorski commented on #250
Maybe change to `src('./')` and not limit to specific folders?

[2017-07-24 00:55] gidztech opened #255 "How do I modify SW config?"
I created an app using the CLI tool, which is super cool. However, there's a ton of config I cannot access. In my case, I have a link on my website to `/blog` on my server, which is running on a Ghost instance. My Nginx config would normally use `proxy_pass` here. But, when the service worker runs, I cannot get to that server.

Is there any way to configure this?

**Update:**
There's some discussi

[2017-07-24 00:59] developit commented on #250
Cant - people use `src/style/foo.css` and expect it to not be CSS modules.  The current setup basically assumes that if you put CSS files in `src/components/*`, you'll want them to be modular - I feel like that's a decent best-guess.

The custom config option @lukeed suggested seems like the best option here:

[code]

[2017-07-24 02:29] prateekbh commented on #255
Hi! I was just about to add this to wiki plugin.md
you can use this plugin to do so

https://github.com/prateekbh/preact-cli-sw-precache

[2017-07-24 02:52] prateekbh commented on #255
added https://github.com/developit/preact-cli/wiki/Plugins :)

[2017-07-24 04:57] ekanna commented on #250
Hi, Thank you all. I posted here as JS part of the component is working and css part is not working. So i thought it may be a bug. Thank you for the prompt response.

[2017-07-24 04:57] #250 closed

[2017-07-24 13:12] prateekbh opened #257 "Decide which files to push"
I want to decide which files should be pushed on which route.

currently on hitting home page only main `bundle.js` is pushed from the h2 server, how to push more files?

[2017-07-24 14:07] endamccormack opened #258 "import of material-design-lite/material from node_modules fails using preact build without --no-prerender"
I'm trying to use the [preact-mdl](https://github.com/developit/preact-mdl) with [preact-cli](https://github.com/developit/preact-cli). I'm new to preact/react so this could just be my lack of understanding but when I follow the documentation

[code]

this works fine in dev but when I `preact build` without `--no-prerender`(works fine with it) I get

[code]

Its trying to find the file locally in

[2017-07-24 15:56] rubencodes commented on #244
Yes, okay to close. 🙂 Thanks for your help!

[2017-07-24 16:28] developit commented on #244
@lukeed I wonder what the overhead would be for us to switch to process:mock by default...

[2017-07-24 18:03] lukeed commented on #244
@developit I have a screenshot over in https://github.com/developit/preact-compat/issues/403

The browser mock is less than 1kb gzip, but will always be there, regardless of using it or not.

[2017-07-24 19:42] gidztech commented on #255
Thanks for the plugin. Do you know how I would configure it to not fetch using the service worker for a particular URI path? I've not managed to work it out and so far the only way I can do it is to hack the generated `sw.js` file to ignore a path on the `fetch` event.

[2017-07-25 09:38] paweljedrzejczyk opened #260 "Any official way of handling tests in preact-cli?"
Hi!

Is there any official and easy way of handling tests?
Create-react-app has Jest framework integrated with some additional config that we can extend in package.json or setupTests.js file.

Does preact-cli plan to have something like it?

[2017-07-25 10:30] CedarDCX opened #261 "Pre-render not keeping custom config settings"
I have some custom configuration on the `preact.config.js` file to handle images with the use of a loader to keep the original name/path.

[code]

This seems to work for the images themselves. They get copied over to the build folder with their original names and paths. The prerendered pages however still have the image name as a hashed value which then seems to get updated by the bundle.

`<img s

[2017-07-25 10:35] prateekbh commented on #261
can you check if the file is copied with hash name in build folder as well?

[2017-07-25 10:42] CedarDCX commented on #261
The file is copied into the build folder as expected, without the hash name. It's the pre-rendered HTML files that seem to be incorrect.

[2017-07-25 10:56] prateekbh commented on #261
can you post you preact.config.json

[2017-07-25 11:05] CedarDCX commented on #261
[code]

[2017-07-25 11:38] lukeed commented on #260
Hi, yes! We're planning on getting this out asap. It may be as early as the next 1.5.0 release or get pushed back to 2.0 -- but it's definitely something we want in soon.

[2017-07-25 11:48] developit commented on #260
I think we could get it into a 1.5, seems like we're set on it being a thin wrapper/runner around Jest.

[2017-07-25 12:20] developit commented on #261
Hi @CedarDCX - this is happening because the first line of your configuration mods exits if `env.ssr` is true.  If you remove that line it seems like everything should work.

[2017-07-25 12:24] developit commented on #258
Hi @endamccormack - do you have `material-design-lite` installed?

The error actually points to node_modules (that `src/~/` is a webpack path pointing to a module lookup), but at the bottom it's failing because your build has exceeded 200kb.  Material Design Lite is a little large, and actually these days I'd strongly recommend using [preact-material-components](https://github.com/prateekbh/preact

[2017-07-25 12:25] developit commented on #257
Hmm - it should push the route chunks too, is it not?

[2017-07-25 12:31] developit commented on #249
I'd be up for moving ssr out of the template. String rendering is still synchronous though, if we wanted to support something like getInitialProps I think we'd need to switch to something like [preact-render-to-vdom](https://github.com/ezekielchentnik/preact-render-to-vdom) and then have preact-cli inject code into the router to invoke and re-render in response to getInitialProps().

[2017-07-25 12:47] CedarDCX commented on #261
Removing that line causes a TypeError:

[code]

[2017-07-25 13:25] developit commented on #261
You'll need to wrap the plugin setting mutations in checks:

[code]

[2017-07-25 13:39] CedarDCX commented on #261
Hi @developit , thanks for that. It stopped the undefined error. However removing the following code now causes other errors on build

[code]

Error
[code]

[2017-07-25 13:52] developit commented on #261
You'll need to skip changing the output filename during SSR too:

[code]

[2017-07-25 14:12] CedarDCX commented on #261
Thanks @developit , that worked a charm.

[2017-07-25 14:12] #261 closed

[2017-07-25 18:32] ethanroday opened #262 "Can't generate certificates on fresh install"
### Steps to reproduce:
1. `npm install -g preact-cli`
2. `preact create <app> --yarn`
3. `cd <app>`
4. `yarn serve`

### Result:
[code]

### Environment:
OS: Windows 10 x64
Terminal: Powershell (Administrator mode) (PSVersion: 5.1.14393.1480)

[2017-07-25 19:26] thangngoc89 commented on #262
Hi. `ENOENT` means there is no such file. Could you run `yarn install` inside your project folder again to make sure everything get installed?

[2017-07-25 19:31] ethanroday commented on #262
I'm fairly certain the file exists...I can navigate to it in a terminal (and an Explorer window).
Also, I think the `simplehttp2server` is not the only issue here. The `devcert` library is also failing to generate the SSL certificates.

[2017-07-25 22:37] endamccormack commented on #258
Thanks for the reply @developit.

Yeah, that fixed the entrypoint size limit issue. I do plan on optimising when I get it working properly. Still has the issue of not finding `material-design-lite`.

I will most likely switch out to use preact-material-components, I just don't really understand why this is failing.

Seems like its installed, its in my [package.json](https://github.com/endamccormac

[2017-07-26 04:42] prateekbh commented on #257
I might have been wrong in observing this, but hey I might know something super important that `cli` was not able to figure out. need a way to add that

[2017-07-26 12:59] reznord opened #263 "Unit tests for examples."
Right now we don't have unit tests for examples . It would be better to have tests for examples.

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-26 16:06] ajoslin commented on #249
Sounds way more complicated. Couldn't we technically just do it on the top-level component only (since we already have an instance of that) and let the application handle the orchestration?

[2017-07-27 04:21] dalehurwitz opened #264 "Inability to choose app render path"
Currently you are only able to define the root component of the app and actual rendering to the DOM happens behind the scenes.

[code]

What I'm looking for is control over the mounting. So for example, I'd like to be able to mount a preact app within a traditional page, perhaps using something like [preact-habitat](https://github.com/zouhir/preact-habitat).

I'd like to use an approach similar to

[2017-07-27 10:49] logicoder commented on #260
Jest + https://github.com/bruderstein/unexpected-preact would be a match made in heaven. 😍

[2017-07-27 10:53] reznord commented on #263
Oh looks like we already have an issue on the same #260.

Closing this.

[2017-07-27 10:53] #263 closed

[2017-07-27 16:30] rafael-ochoa opened #267 "Issue with npm i -g preact-cli"
hello,
I apologize for opening an issue, I could not find anything similar. I've been trying to install this package with no success.
Different issues with webpack-blocks. I even have tried to install webpack-blocks and all its blocks independently, building the code but there is always a blocker on webpack-blocks.
I've used npm@5.3.0 and yarn@0.27.5 running on node@8.1.3 Mac OS 10.12.5, Go@1.8.3

[2017-07-27 16:52] zweehn commented on #262
I have the same problem and copy pasting the ENOENT file in powershell and executing it works
`PS F:\sources\Node\my-preact> npm run serve

Build [==================  ] 91% (1.1s) additional asset processing
  Total precache size is about 144 kB for 14 resources.
Setting up SSL certificate (may require sudo)...
INFORMATION: Es konnten keine Dateien mit dem angegebenen
Muster gefunden werden.
Attem

[2017-07-27 17:25] SaraVieira commented on #267
@rafael-ochoa I can verify that is true on yarn still trying to figure out why.

About NPM 5.0.3 there have been some problems with it in terms of cache you can see some here : https://github.com/electron-userland/electron-forge/issues/266 and I had this issue yesterday installing a new project and I don't think there is a fix yet

I trully believe this is a npm issue 😢

[2017-07-27 17:44] reznord commented on #267
umm....I'm not really sure. I am on the same config as @rafael-ochoa. It works for both `yarn` as well as `npm` for me.

node: 8.1.4
npm: 5.3.0
macOS: 10.12.6
yarn: 0.27.5

[2017-07-27 17:45] SaraVieira commented on #267
Yarn never worked for me 😢

[2017-07-27 18:44] expdevelop opened #268 "Async state"
Hi guys. I have a question.

How can I fetch some data before server will send an html to create an initial state for redux store?

Thanks!

[2017-07-27 19:33] thangngoc89 commented on #251
I always use npm in package.json scripts. Even though I always use yarn

[2017-07-28 04:45] prateekbh commented on #255
@gidztech I guess you can use a `networkOnly` strategy with `runtimeStrategies`.

[2017-07-28 04:45] #255 closed

[2017-07-28 05:01] ethanroday commented on #218
@developit But if the entire app is being hosted under a subdirectory `example.com/app` (in my particular case, `/app` is a virtual directory in Azure), then the path for the service worker needs to `/app/sw.js`. Otherwise the browser will try to load the service worker from `/sw.js` and get a 404. Changing Webpack's `publicPath` to `/app/` does the trick for bundles and static assets, but the ser

[2017-07-28 05:07] thangngoc89 commented on #218
I'm not sure why I closed this. Reopening

[2017-07-28 08:29] conblem opened #269 "Packages using custom process variables not working"
Hey together

I just tried to use ```react-instantsearch``` with your awesome preact-cli.
This gave me an ```process is not defined``` error.
I easily got rid of it using the ```preact.config.js``` method with the following file:
[code]

But i thought this would be easily fixable by just changing this line:
https://github.com/developit/preact-cli/blob/c706900b53718968931cde0833c8ac7ef48c35ae/src/l

[2017-07-28 08:32] jojo05 opened #270 "migrating create-react-app apps to preact-cli"
With cra, I use the following config in package.json

proxy: "http://localhost:6300"
homepage: "/MyPath/"

The first option allows me to test the app with a local server and  the second option allows me to use a specific server path for my  production build.

Will these be available in an upcoming release?

[2017-07-28 09:12] reznord commented on #270
Regarding `homepage` there is already an issue open. You can refer #218 for that.

And regarding proxy, there are no plans as of now.

Regarding the title for the issue - I'm not really sure what do you mean by `migrating create-react-app to preact-cli`. Can you explain?

[2017-07-28 09:16] reznord commented on #270
Regarding the proxy, you can use `npm run serve` which executes `preact watch` command.

[2017-07-28 09:30] jojo05 commented on #270
With the title, I meant:
Make it easy to migrate apps started with create-react-app to apps developed with preact-cli

Yes, I had seen issue #218.  I think it's important to keep the same config options as in create-react-app to make it easy to develop with both cra and prect-cli

`npm run serve` lets me pick host and port for the Node server but I am using a separate Go server

[2017-07-30 06:05] #242 closed

[2017-07-30 14:36] reznord commented on #270
/cc @lukeed @developit

[2017-07-30 15:29] lukeed commented on #270
Unless I'm mistaken, sounds like just need to add a [`proxy`](https://webpack.js.org/configuration/dev-server/#devserver-proxy) key to webpack config.

[2017-07-30 15:33] feimosi commented on #191
I confirm, that resolves the issue :+1:

[2017-07-30 15:33] #191 closed

[2017-07-30 16:07] reznord commented on #270
Yes, when `proxy` is specified,  we need to consider it as a BASE for API calls.

[2017-07-30 22:05] developit commented on #270
Yup, this would be very useful.  I'm not sure the behavior of CRA when a String is specified is actually workable - it's kindof a guess and does't combine well with `historyApiFallback` ([here's the source](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-dev-utils/WebpackDevServerUtils.js#L287)).  They do support passing a custom proxy configuration object though,

[2017-07-31 02:22] #248 closed

[2017-07-31 08:23] prateekbh opened #274 "prerender/ or something causes flash of content"
Steps to reproduce:
1. goto: https://clidemo.preactjs.com/
2. open dev tools
3. goto performance tab
4. go on Regular 3G, CPU = 10x slowdown, check screenshot box.
5. Ctrl + Shift + R,
6. In the generated thumbnails u'll see that the content of homepage will disappear and come back in one of the frame.
👇  check around 1200ms
<img width="600" alt="screen shot 2017-07-31 at 1 53 07 pm" src="https://

[2017-07-31 12:01] lukasholzer opened #275 "build failed on initial setup"
# The initial build is failing

[code]

this outputs the first `npm run start` in a fresh environment of `preact create`

The cli version is *preact-cli 1.4.1* and my npm version is *4.2.0* even with latest npm version *5.3.0* the same issue

my package.json:

[code]

[2017-07-31 12:42] reznord commented on #275
You need at least node v6 for preact-cli. Not sure why the check.js didn't kick out of the build process

[2017-07-31 12:58] eweilow commented on #275
Getting the exact same issue with preact-cli 1.4.1

I did a fresh install (`npm i preact-cli -g`) and ran `preact create projectname --sass`.

[code]

[2017-07-31 13:06] lukasholzer commented on #275
I used node version 7.x and 8.x (every is greater than v6 @reznord …

[2017-07-31 13:23] nephix commented on #275
Same issue for me with `preact-cli 1.4.1` and
[code]

[2017-07-31 14:22] mastilver commented on #275
`html-webpack-plugin` here, it's an issue on our side: https://github.com/jantimon/html-webpack-plugin/issues/753

[2017-07-31 14:25] reznord commented on #275
So, probably rolling out to last version of `html-webpack-plugin` should work.

[2017-07-31 14:32] eweilow commented on #275
Can confirm that installing the previous version of `html-webpack-plugin` by `npm i html-webpack-plugin@2.29.0` inside a project created by preact-cli resolves the issue on my end.

[2017-07-31 14:56] mastilver commented on #275
`html-webpack-plugin@2.30.1` has been released

I'm not really sure how `preact-cli` is working, but I've done that to fix my build:
- `$ npm i -g preact-cli`
- `$ rm -rf node_modules`
- `$ rm package-lock.json`
- `$ npm i`

[2017-07-31 20:37] jojo05 opened #276 "optimal setup for web pages"
One area where I find preact could be really useful is for replacing jQuery code in web pages, e.g. autocomplete, image gallery, ...

How can I create a bundle where I omit some preact components  ?

These components would be included with a script tag, so that the bundle is as small as possible and these components get cached once across the website.

Does this make sense?

[2017-07-31 21:22] thangngoc89 commented on #276
I never try this but hrer is the ideas:
- You bundle your components as UMD bundle.
- Tell webpack to load your components (which is avaiable in window scope)

You may want to check ou https://openit.io/preact-habitat

IMHO: unless you have many websites with the same user base, the effort doesn't worth it

[2017-07-31 23:02] jojo05 commented on #276
Yes, preact-habitat seems to be one solution.

Can you explain "many websites with the same user base"

I am saying preact-cli could be a mechanism to replace some jQuery code bundles and optionally future proof the code to a PWA

[2017-08-01 00:18] zouhir commented on #276
Hey @jojo05 yes, you can certainly do that. build 1 Preact component, let's say a modal, a login widget or an auto complete and share it across your CMSs or even non-preact websites as plugins.

Please check out the links below for your inspiration and always feel free to ask me anything

- *Simple Login* 🔑 [link](https://preact-habitat-inline.netlify.com/)

- *Youtube Players* ▶️ [link](https://p

[2017-08-01 06:02] thangngoc89 commented on #276
@jojo05 "many websites with the same user base" means
unless your component is as popular as jQuery, the chance of the component is already in cache is very small.

[2017-08-01 06:05] jojo05 commented on #276
Ok, I understand now.
The use case I am interested is caching across multiple web pages of a single website, i.e. loading the big components once and using them slightly differently in separate web pages

[2017-08-01 06:08] thangngoc89 commented on #276
@jojo05 well then, you can use Webpack to automatically do it for you ;). Create a seperate chunk for each "big components".

[2017-08-01 06:17] jojo05 commented on #276
Not sure I understand.
Let's say I use a preact autocomplete component and an image gallery, and some pages use page both and some use each separately. Then, I want the two components separately as script tags.
The logic that drives the components is what I want to understand, and this is what preact-habitat does, isn't it?

[2017-08-01 07:57] zouhir commented on #276
If you're building the whole website using a modern JavaScript stack, with ES6 modules and or Preact and etc.. then preact-habitat is *not* my recommendation. I would do what probably @thangngoc89 have advised. Importing the module as an extension ES dependency and webpack will include it in the routes and pages that will use it.

But, if you're working with a Website that has not been built very

[2017-08-01 10:25] jojo05 commented on #276
My use case is the second one:

- static html with js scripts
- dynamic html (server generated) with js scripts

I think this stack (or very similar) is used by most large websites today.

[2017-08-01 10:28] zouhir commented on #276
that's the case at my employers large Adobe CMS website, so we build widgets in Preact and mount them in the DOM using `preact-habitat` which was the reason of why I built habitat at first place

[2017-08-01 10:43] jojo05 commented on #276
Then, if this functionality were available in preact-cli, I could be widely useful (b/c most (p)react users pick create-react-app or preact-cli instead of more specific tools

[2017-08-01 10:50] zouhir commented on #276
I am more than happy to contribute with such an option to the CLI which would benefit everyone, but not sure it fits within the vision or the goal of this tool.

looping: @developit @lukeed @reznord @rkostrzewski

[2017-08-01 11:22] jojo05 commented on #276
The PWA vision or goals may be clear,
but ...
there is a huge installed base of websites using JS that don't have a clear way forward (in terms of using modern JS)  and Preact with preact-cli could fill that role.
This would also make Preact stance vs React a lot more clear. The web tools (jQuery, ...) have always been about optimizing size and Preact delivers on that (very different to cross-plat

[2017-08-01 23:08] sowdf opened #279 "npm run build , output background:url in style.css for pash is absolute ， i need relative for path , no config"
npm run build , output background:url  in style.css for path is absolute ， i need relative for path , no config

[2017-08-01 23:11] sowdf commented on #279
I have to change the preact-cli file for the job, it is very troublesome

[2017-08-02 03:18] developit commented on #279
Can you show what you changed?

[2017-08-02 19:53] reznord commented on #275
Fixes by updating `html-webpack-plugin` to `2.30.1`.

[2017-08-02 19:53] #275 closed

[2017-08-02 19:59] #251 closed

[2017-08-02 20:01] reznord commented on #226
That looks like some `npm dedupe` issues to me. With the latest version it is working perfectly fine.

[2017-08-02 20:01] #226 closed

[2017-08-02 20:08] reznord commented on #268
The server we ship is just for static-hosting only and it is out of the scope of the project. [Here](https://github.com/developit/preact-cli/issues/247#issuecomment-316833890) is a better explanation why this is out of scope.

Hope this helps.

[2017-08-02 20:08] #268 closed

[2017-08-02 20:09] #247 closed

[2017-08-02 20:14] #122 closed

[2017-08-02 20:20] #121 closed

[2017-08-02 20:22] #120 closed

[2017-08-02 20:23] #113 closed

[2017-08-03 08:02] lili21 commented on #199
what's about the project which use something like `Docker` for building and deploying ?
without `eject`, I have to install `preact-cli` every time before `building`.

[2017-08-03 08:22] thangngoc89 commented on #199
@lili21 you can actually include preact-cli as a devDep to avoid that

[2017-08-03 08:28] lili21 commented on #199
I know I can do that. It just doesn't feel right.

[2017-08-03 15:49] ajoslin opened #281 "All routes are chunked, causing hydration of prerendered pages to flicker"
It appears that *all* routes are being chunked and async loaded, even without the presence of the `async!` prefix.

I've reproduced this using preact-cli 1.4.1 here: https://github.com/ajoslin/preact-cli-issue-all-routes-chunked. Just build and serve and check the network tab, it loads both bundle and route-home.chunk. And it does a render before the home chunk is loaded.

**Details**

I have a pr

[2017-08-03 15:52] prateekbh commented on #281
also related #274

[2017-08-03 15:53] ajoslin commented on #281
I'm "fix"ing this for now by moving all of my routes into `components/routes`.

[2017-08-03 16:01] thangngoc89 commented on #281
@ajoslin The async loader was implemented in a way that during prerendering , it act as a normal require so the above behavior is correct (maybe?)

But anyway, we should fix this !

[2017-08-03 16:04] ajoslin commented on #281
@thangngoc89 The problem is that it's happening whether or not I use the `async!` prefix.

I've fixed this problem on my end for now by moving my routes into `src/components/pages/`.

[2017-08-03 16:05] thangngoc89 commented on #281
@ajoslin ah. So it's because of route spliting behavior of preact

[2017-08-03 16:09] lukeed commented on #281
This is [supposed to happen](https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-client-config.js#L45-L49).

We also state this in the README:

The `async!` prefix is primarily designed for lazy-loading large components. For example, a REPL component or a WYSIWYG editor.

As for your issue, you're seeing a content flash, correct? If so then we need to fix that part 😄

[2017-08-03 16:10] ajoslin commented on #281
Got it. Yes, the problem is just the content flash and that it's rendering before the current page is ready.

[2017-08-03 16:12] lukeed commented on #281
Cool 😃 Do you mind refreshing me by sharing what your `<script>` tags look like? I don't have a CLI project in front of me atm.

[2017-08-03 16:14] ajoslin commented on #281
Sure, here's what they look like (from the [repository in the OP](https://github.com/ajoslin/preact-cli-issue-all-routes-chunked)): http://ajoslin.co/UzAy0g/4Us7rtzG

[2017-08-03 16:15] ajoslin commented on #281
And here's a movie of what the flicker looks like and the network tab: http://ajoslin.co/GIH2Ts/5kzN1wTO

[2017-08-03 16:18] lukeed commented on #281
Thanks, helpful! I see Network throttling, but do you have CPU throttling on too?

It seems to be just a really slow render, because the "flash"/re-render only happens once the `route-home` bundle has been downloaded.

[2017-08-03 16:19] ajoslin commented on #281
It does one render right when bundle.js has loaded (3.04s) and then does another after home bundle has loaded (698ms later).

[2017-08-03 16:20] lukeed commented on #281
Oh, silly. I didn't pay attention to the _Pending_ status of the `route-home` request. 😅

[2017-08-03 16:22] otarvainen opened #282 "Issue with openlayers"
Hi,

I'm having issues using openlayers with preact-cli.

Backgrounds:

Operating system: macOS
node -v v8.2.1
npm -v  5.3.0

When I add the openlayers library with npm
`npm install --save openlayers`

... and try to use it anywhere my application
`import ol from 'openlayers'`

... and start development server with
`preact watch`

Build process just hangs for maybe 30 minutes until it finishes. At

[2017-08-03 16:30] lukeed commented on #281
My first guess is issue with [`AsyncComponent`](https://github.com/developit/preact-cli/blob/master/src/components/async.js). I think it gets passed an empty string while the route is being fetched. That empty string becomes its child, which renders & replaces the current content.

I think we can add a falsey check to inside the `AsyncComponent`? Just need to ignore the first re-render (production

[2017-08-04 14:11] RoelN opened #283 "`preact init` gives "Unknown argument: init" error"
Using preact-cli 1.4.1, installed as per README, on OS X Sierra 10.12.6:

[code]

[2017-08-04 16:13] nephix opened #284 "Adding Analytics & Web Fonts"
Hi,

I need to add analytics (Google Analytics & Mixpanel) as well as web fonts to my app created with preact cli.
## Analytics
I need to place a snippet into the `<head>`, how do I do this?

## Web fonts
I tried placing woff/woff2 files into the `src/lib` or `src/assets` folder and then load them in my `src/style/helper.scss`:
[code]

This works initially but when I include the `helper.scss` in m

[2017-08-04 16:38] lukeed commented on #284
To modify the head, I would use a custom template. Notes on how to change it are at the bottom of the trade.

I would place fonts in `static` and then use absolute urls to link to them; e.g.`/static/font.woff`

[2017-08-04 16:58] #284 closed

[2017-08-04 17:34] reznord commented on #283
`master` branch is used for development.

Coming to `preact init`, it is not available in the current version. It will be available in the next version.

[2017-08-04 17:34] #283 closed

[2017-08-04 18:43] reznord opened #285 "FAQs in the WiKi section?"
So, right now there are a lot of basic questions which users have. It would be great to have a wiki page for the FAQs.

Any suggestions?

[2017-08-04 18:44] SaraVieira commented on #285
@reznord This sounds great , I can look through the issues and see what issues are the most common and fixable to add there , that sound good ? 😄

[2017-08-04 19:12] lukeed commented on #285
First thoughts: Custom Templating, Customizing Webpack

Even though both those are in the README, might want to rip out all "How-Tos" from there & point to this new Wiki section instead, along with the existing Recipes section.

[2017-08-05 03:38] reznord commented on #285
@SaraVieira Totally, sounds great.

Another thing, we need to mention that is *Master branch is for development purposes.*

[2017-08-05 03:46] lukeed commented on #285
@reznord Agreed, that should go at the top of Readme imo. Seen that pop up 2 or 3 times.

[2017-08-05 05:31] joshuataylor commented on #285
Yeah, I am just starting with preact (with basic experience with react, and basic experience with the javascript ecosystem), and have a load of newbie questions, and would love to see something like this added.

I'll be happy to add to it as well, as my experiences would be pretty common, I think.

[2017-08-05 05:34] reznord commented on #285
Sure, that would be great.

Go ahead and create a page in Wiki Section :)

[2017-08-05 05:41] thangngoc89 commented on #285
@joshuataylor that would be great. We can answer but we don't know the question

[2017-08-05 05:43] joshuataylor commented on #285
@thangngoc89 I meant more like I would document my experiences and pitfalls I find to help others :).

[2017-08-05 05:44] thangngoc89 commented on #285
@joshuataylor I create a page for it. And that would even more awesome

[2017-08-05 11:00] Biarity opened #287 "Error: Exited with status 4294963241"
I keep getting the error (3 times in a row now!):
[code]

Not sure why. Might be somehow related to #202.

[2017-08-05 11:22] thangngoc89 commented on #287
@Biarity Hey could you tell us how to reproduce this issue? Also your node, npm/yarn version and OS?

[2017-08-05 11:26] Biarity commented on #287
I just get this after installing preact via npm then running `preact create example`.
OS: Windows 10 1703.
npm version: 3.10.8.
node version: v6.9.1.
Sorry I don't have more information!

[2017-08-05 12:30] SaraVieira commented on #285
Hello guys! I'll go through the issues today and send them through slack because I can't edit the wiki pages 🙁

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 15:24] thangngoc89 commented on #285
Hey @developit,

If you have time, could you go to project setting and uncheck **Restrict to collaborators only?**

![image](https://user-images.githubusercontent.com/3049054/28996534-bf21d4d8-7a2c-11e7-9e11-f91826061b06.png)

[2017-08-05 16:17] reznord commented on #285
Just sharing my 2 cents tho, We can but that might be a problem in the future since the Wiki is open to public and anyone can come down and write any sort of stuff they want.

[2017-08-05 16:25] thangngoc89 commented on #285
@reznord If no one can edit the Wiki then we should move Wiki back to the repo and accept editing via PR? Even though wiki is a repo itself, there is no UI for sending PR

[2017-08-05 16:27] lukeed commented on #285
We can add a `docs` folder (or its own repo) and modify `preact-www` to serve that on the site under a Preact CLI section.

Pointing to https://github.com/developit/preact-www/issues/152 because it falls inline with this approach.

[2017-08-05 20:21] jennydaman opened #288 "Add folder to build"
I'm trying to build a chrome extension using Preact. My App component currently draws the settings page for my chrome extension. The chrome extension has some other files (such as popup.html and background.js) which I've put into a directory called /src/extension. These files are not mentioned in /src/index.js, so they are not included in the build. How can I force preact to build my project with

[2017-08-05 20:37] #288 closed

[2017-08-06 06:39] reznord opened #289 "Feature Requests for CLI?"
This is a list of features which we thought of having in `cli`.

- [x] Custom templating
- [ ] Tests
- [ ] Complete SSR Support
- [x] CORS Support

Feel free to add any more features which you want to see in `preact-cli`

[2017-08-06 08:09] kurtextrem opened #290 "Require in lib/entry.js causes ModuleConcatenation bailout"
When using webpacks `webpack.optimize.ModuleConcatenationPlugin()`, the cjs require in https://github.com/developit/preact-cli/blob/master/src/lib/entry.js#L20 https://github.com/developit/preact-cli/blob/master/src/lib/entry.js#L14 causes a bailout of the plugin, with the reason "(referenced with cjs require)".
I'm unsure why that require is needed? (I'm also unsure why `interopDefault` is needed

[2017-08-06 08:15] kurtextrem commented on #290
By the way, the win isn't too big (at least for me), but "why not":
Before:
![luzqivb7s7inueefzkadhq](https://user-images.githubusercontent.com/502146/29001636-14be32fc-7a90-11e7-94fa-8382e768a810.png)

After:
![l1jz1d3psumgwktehegfgq](https://user-images.githubusercontent.com/502146/29001637-20b12c04-7a90-11e7-8674-a30337bfeb97.png)

[2017-08-06 08:20] kurtextrem opened #291 "Replace progress-bar-webpack-plugin with webpack-simple-progress-plugin"
`webpack-simple-progress-plugin` has slightly more up to date deps and is almost half the gzipped size.
Apart from that they're practically the same.

See:
https://cost-of-modules.herokuapp.com/?p=webpack-simple-progress-plugin@0.0.2
https://cost-of-modules.herokuapp.com/?p=progress-bar-webpack-plugin@1.10.0

(I can do a PR if wanted)

[2017-08-06 12:51] thangngoc89 commented on #291
@kurtextrem I'm not sure why are you obsessed with the size of it plugin? It's run on Node so the size doesn't matter that much.

For your first point, the deps between the two of them is extractly them same considering semver

[code]

Vs:

[code]

[2017-08-06 15:59] kurtextrem commented on #291
Well, what would be the counter arguments? webpack-simple-progress-plugin just seems superior (and there are people that install preact-cli on a plane - they surely appreciate less download time :P).

[2017-08-06 22:42] nicohsieh opened #292 "Syntax error at run-webpack.js"
I just installed preact-cli and got the error below when running any commands. Not sure if I missed anything?

[code]

[2017-08-07 02:41] thangngoc89 commented on #292
@nicohsieh which node version you're runnig? We requires at least node 6

[2017-08-07 04:27] reznord commented on #292
There was a bug in `check.js` which checks for the required node version.

I have fixed that issue and it will be working in the next version.

@nicohsieh The minimum required node version is v6.

[2017-08-07 04:27] #292 closed

[2017-08-07 05:03] nicohsieh commented on #292
Thanks for the quick reply!

[2017-08-07 14:32] jacobhummel opened #293 "Disable PWA option?"
Very impressed with preact-cli. Looking for the right way that I could disable the service worker generation?

I am using this to build a very minimal UI component that can be dropped in to other apps, so I don't want to force them to require support for it.

Thanks for any info.

[2017-08-07 15:34] reznord commented on #293
This defies the whole purpose of `preact-cli`.

If you really want to create minimal UI components, I'd recommend using [nwb](https://github.com/insin/nwb).

[2017-08-07 15:35] #293 closed

[2017-08-07 15:37] reznord commented on #282
Umm.....I'm not really sure what the issue is, it is taking really long time to install the package and I'm not sure how to debug that as well.

Can you provide a bit more information about this?

[2017-08-07 15:47] jacobhummel commented on #293
@reznord Sounds good. Thanks for the insight!

[2017-08-07 15:50] reznord commented on #293
You can create `preact` apps too using nwb :smile:

[2017-08-07 17:07] reznord commented on #37
There is a [flow plugin](https://github.com/SaraVieira/preact-cli-plugin-flow) which we can use for using flow in `preact-cli`.

Thanks to @SaraVieira 😄

[2017-08-07 17:07] #37 closed

[2017-08-07 17:17] RajeshBatth commented on #258
Even I'm getting this error when using --no-prerender

$ preact build
Build [==================  ] 91% (3.7s) additional asset processing
  Total precache size is about 193 kB for 17 resources.
Template execution failed: Error: ENOENT: no such file or directory, open '/Users/Rajesh/rajesh/samples/bus-pwa-preact/src/~/invariant/invariant.js'
  Error: ENOENT: no such file or directory, open '/Users/

[2017-08-07 18:02] SaraVieira commented on #37
@reznord Hells yeah 🎉

[2017-08-07 18:39] reznord opened #294 "Minimum requirements in README?"
We don't specify the minimum requirements required for `preact-cli` anywhere in the `README`.

Right now, the only way a user can come to know is, after installing `node_modules` when the `check.js` gets triggered.

Will it be worth adding the requirements to the `README` (probably on the top)
or
Find a badge which can specify the minimum `node version`?

[2017-08-07 18:47] lukeed commented on #294
Don't think we need to. It's declared in our `engines` and in `.travis.yml` ...  and we throw early via your `check.js`.

[2017-08-08 09:09] otarvainen commented on #282
Sorry if it was unclear.

Installing openlayers package is not a problem, but starting the development server seems to take forever.

Steps to reproduce:

`preact create ol-test`
`cd ol-test`
`preact watch`

The development servers starts rather instantly at this point. But after trying to use openlayers.

`npm install --save openlayers`

Then import the openlayers library for example in src/compo

[2017-08-08 10:26] reznord commented on #282
I'm not really sure what is happening, I tried with DEBUG enabled too, but still no result.

Does `[ol](https://www.npmjs.com/package/ol)` satisfy your needs? It is the minified version of `openlayers`.

[2017-08-08 12:46] BTheunissen opened #296 "Styled Components & Preact CLI appears to drop styles"
Hi all,

I'm currently working on a small project with the CLI and was curious if I could get [styled components](https://github.com/styled-components/styled-components) in without pulling teeth. My current CLI config includes LESS and it appears that the styles are not being directly attached to my elements when I build and serve the dev server.

Keen to look into this when I get more time, has a

[2017-08-08 12:47] SaraVieira commented on #296
Hello @BTheunissen,

I use the cli with styled-components and it has worked great.
You can see my setup here: https://github.com/SaraVieira/styled-loaders/tree/master/packages/styled-loaders-preact

[2017-08-08 12:47] SaraVieira commented on #296
Can you explain the issue ?

[2017-08-08 12:48] otarvainen commented on #282
Unfortunately, there seems to be the same issue when trying to use the minified ol version.

[2017-08-08 13:27] BTheunissen commented on #296
Thanks for the quick response @SaraVieira! I had a quick play around and in my sleep deprived state I didn't realise I was starting all of my component names in my example with lower case letters. As such the elements appeared to render fine but were effectively just empty divs 😓

Awesome job to the Preact and CLI team as I wasn't expecting integrating styled components to be so simple!

[2017-08-08 13:27] #296 closed

[2017-08-08 13:30] SaraVieira commented on #296
No problem @BTheunissen !

It's actually dead easy , I was pretty suprised too 😄

[2017-08-08 16:47] reznord commented on #282
@otarvainen I tried the same with `ol`, it is working fine for me.

Did you uninstall the `openlayers` and the imports are a bit different:

[code]

[2017-08-08 17:03] skaraman opened #297 "socks-js errors on fresh install"
<img width="1920" alt="screen shot 2017-08-08 at 10 01 43 am" src="https://user-images.githubusercontent.com/2840020/29084403-ba60bafe-7c20-11e7-8385-00efb1ba9dfe.png">

I'm getting tons of errors after a fresh install just doing `preact create my-project`

[2017-08-08 17:28] otarvainen commented on #282
Thanks for the help.

I can confirm it's working also for me. I setup a new project, installed ol-package and tested the sample setup from [ol](https://www.npmjs.com/package/ol
)

Still wondering why is the default library so slow. I have used it before with create-react-app with no problems.

[2017-08-08 17:32] reznord commented on #282
Well, if you observe, it is not just the default library which is super slow, when you build the package with `ol` library also, it takes a noticeable amount of time.

[2017-08-08 17:32] #282 closed

[2017-08-08 17:37] reznord commented on #297
@skaraman can you give us more info on how to reproduce this issue?

It would be great if you can provide your `node version` too.

[2017-08-08 17:41] reznord commented on #294
I feel that we have to move the check.js from `postinstall` script to `preinstall` script. What do you think?

[2017-08-08 18:06] skaraman commented on #297
I just installed preact-cli `npm i -g preact-cli`
then create a new project `preact create anything`
then cd and `npm start`
`npm version` output:
{ anything: '1.0.0',
  npm: '5.3.0',
  ares: '1.10.1-DEV',
  http_parser: '2.7.0',
  icu: '58.2',
  modules: '48',
  node: '6.10.2',
  openssl: '1.0.2k',
  uv: '1.9.1',
  v8: '5.1.281.98',
  zlib: '1.2.11' }

[2017-08-08 18:09] thangngoc89 commented on #294
@reznord How about we run the check everytime user run the cli? And exit immediately if the requirements don't pass. Since the cost of the operation is very small, it doesn't matter

[2017-08-08 18:14] skaraman commented on #297
i tried node 8.2.1 and it produces the same results, also as a side note -
the preact-boilerplate has the same issues with the latest code
i have an older version of the boilerplate (I don't know which one) that does not have this issue, i'm currently developing in there while this problem persists

[2017-08-08 18:16] reznord commented on #297
I tried with `node 6.10.2`, `node 8.4` and it was working fine for me without any problem. Not sure where the error was from.

Will see if I am able to reproduce this issue.

[2017-08-08 18:18] reznord commented on #294
We are currently! [here](https://github.com/developit/preact-cli/blob/master/src/index.js#L16)

[2017-08-08 18:18] thangngoc89 commented on #297
Hey guys, If you're noticing, the hot - loading adress is `http://localhost:8080//...` (double slashes). It should be the issue.

@skaraman could you try and access the URL in console message ? I mean after fixing the double slashes

[2017-08-08 19:56] skaraman commented on #297
@thangngoc89 sorry but I don't know how to change that or what you mean by access the URL in console message...

but the number of slashes shouldn't matter, you can have many slashes as long as there are no spaces and it resolves to `/` ->  you can try it on any website
<img width="605" alt="screen shot 2017-08-08 at 12 54 06 pm" src="https://user-images.githubusercontent.com/2840020/29091792-e705

[2017-08-09 02:45] skaraman commented on #297
@thangngoc89 i just realized what you meant - I navigated to the URLs without the double entry slashes and here's what i see:

<img width="1920" alt="screen shot 2017-08-08 at 7 44 00 pm" src="https://user-images.githubusercontent.com/2840020/29103012-0028b7fc-7c72-11e7-9ce5-6dedfa8e3ce8.png">
<img width="1920" alt="screen shot 2017-08-08 at 7 43 37 pm" src="https://user-images.githubusercontent.c

[2017-08-09 04:42] RajeshBatth opened #299 "preact build fails without --no-prerender"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
preact build fails with following error

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information.**
- node v

[2017-08-09 04:46] reznord commented on #299
How can I reproduce this issue?

[2017-08-09 05:33] reznord commented on #297
I am still not able to reproduce this issue: Not really sure what is happening in your case though:

<img width="1280" alt="screen shot 2017-08-09 at 11 00 58 am" src="https://user-images.githubusercontent.com/3415488/29106338-23ad09aa-7cf2-11e7-8220-30c2e84b9f65.png">

[2017-08-09 06:14] RajeshBatth commented on #299
This was working before and I think it stopped working after I added react-router and redux.
Please give me some time, I'll create a project to verify the issue and will share it with you.

[2017-08-09 09:13] jbelis commented on #279
I think I have the same question. The build produces an index.html with absolute path for assets (js, css, images). Examples

`<link href="/style.0bacc.css" rel="stylesheet">`
`<script defer="defer" src="/bundle.b1985.js">`

This means you have to deploy at the root of your web server which is not always the case. Is there a recipe to change this, ideally by stripping the leading / ?

[2017-08-09 10:45] thangngoc89 commented on #299
@RajeshBatth if you added react-router, that's should be the problem. Because you're probably using BrowserHistory so it fails in Node enviroment

[2017-08-09 10:46] thangngoc89 commented on #279
@jbelis it comes from webpack. Ideally, you can edit webpack publicPath config. But not sure if we hardcoded it anywhere in the cli. Could you give it a try?

[2017-08-09 16:38] skaraman commented on #297
I uninstalled preact-cli `npm uninstall -g preact-cli`
and then tried to install it with sudo `sudo npm i -g preact-cli`
and i got this error
![screen shot 2017-08-09 at 9 34 56 am](https://user-images.githubusercontent.com/2840020/29132890-85c8acd6-7ce6-11e7-9fe1-fb7f123dc8e2.jpg)

[2017-08-09 16:45] skaraman commented on #297
I uninstalled and reinstalled preact-cli, seems to have fixed it...

[2017-08-09 16:45] #297 closed

[2017-08-09 16:49] thangngoc89 commented on #297
@skaraman 6.10.x is official supported and tested with every commits, still not sure what caused it

[2017-08-09 17:20] skaraman commented on #285
I have a question that might fall into FAQ - How to set node config in preact.config.js? I have a module that i'm importing that needs `process` and `Buffer` set to `'mock'`

[2017-08-09 17:23] reznord commented on #299
@RajeshBatth you have to use `preact-router`. `react-router` is not compatible with `preact-cli`.

[2017-08-09 17:23] #299 closed

[2017-08-09 17:26] reznord commented on #294
Since we are using `chalk` we can't do it in `postinstall` script.

[2017-08-09 17:26] #294 closed

[2017-08-09 17:26] lukeed commented on #285
@skaraman You can just modify the webpack config directly inside your `preact.config.js`:

[code]

See https://github.com/developit/preact-cli/issues/244#issuecomment-316558813 and [Wiki](https://github.com/developit/preact-cli/wiki/Config-Recipes#setting-proxy-for-dev-server-using-config-directly) for reference.

[2017-08-09 17:43] RajeshBatth commented on #299
Is there a official/recommened redux support library for preact-router ?

[2017-08-09 17:44] jbelis commented on #279
It is hardcoded in src/lib/webpack/webpack-client-config.js and src/lib/webpack/webpack-server-config.js

[2017-08-09 17:47] reznord commented on #267
We have removed from `@webpack-blocks` in favor of `webpack3`.

You can track it [here](https://github.com/developit/preact-cli/pull/150).

[2017-08-09 17:52] reznord commented on #299
There shouldn't be much of a difference on how to use `preact-router` & `redux`.

[2017-08-09 17:58] reznord commented on #243
@timarney hey, sorry for the late reply.

Could you please tell me if you are still able to reproduce it. If so can you provide the steps to reproduce it?

And the system requirements too 😄

[2017-08-09 18:01] makenai opened #300 "401 when installing via npm"
[code]

[2017-08-09 18:04] reznord commented on #267
whooops! sorry wrong button pressed.

[2017-08-09 18:07] reznord commented on #300
@makenai Are you using npm with root privileges? I guess that is why you are getting the 401 error

[2017-08-09 18:11] makenai commented on #300
@reznord Nope - I'm using it as my local user, but it's scoped to my home directory via nvm. I can install other stuff globally in the same shell with no issues:

[code]
It looks to me like the scoped npm repo for @webpack-blocks went private or something?

[2017-08-09 18:18] timarney commented on #243
Thinking this might be very specific to my build.  Note: It doesn't happen with the --no-prerender flag.

node 8.2.1
npm 5.3.0

I'll see if I can narrow it down further wasn't sure if this had come up somewhere before.

Found the error kind of odd:
`no such file or directory, open -> src/~/domkit/builtinStyle.js'`

[2017-08-09 18:24] thangngoc89 commented on #279
@jbelis we provided an escape hatch for you. Learn how to configure webpack config here https://github.com/developit/preact-cli#webpack

[2017-08-09 18:39] reznord opened #301 "verbose logging option for cli commands"
**Do you want to request a *feature* or report a *bug*?**
Question

**What is the current behavior?**
Right now for the `preact commands` we don't provide an option for `verbose log` which makes it really hard to debug at times when the build fails.

**What is the expected behavior?**
It would be great if we can provide an option/flag for `verbose log` for `preact commands`

**Please mention other

[2017-08-09 19:03] RajeshBatth commented on #299
Thanks @reznord , will try this

[2017-08-10 00:35] ajoslin commented on #281
I don't think the problem is the first re-render, it's the initial render itself.

I tried:

- Add `shouldComponentUpdate` to AsyncComponent that allows update if state.child is truthy
- Return `null` from render if state.child is falsy

Both of these still result in the Async component's content being erased immediately on initial render. How can we prevent this?

[2017-08-10 10:17] anantoghosh commented on #214
@reznord any pr for the master branch? It has been fixed in the webpack3 branch 79fb4fa9cb89e3ce1f189d38feaf6a235f30f66f

[2017-08-10 10:44] guido4000 commented on #289
How about redux and typescript as optional features?

[2017-08-10 10:53] reznord commented on #289
Typescript is available as a plugin. You can check out https://github.com/developit/preact-cli/wiki/Plugins for the available plugins.

Coming to redux, it would be more like forcing the user. That can't be called a feature :P

[2017-08-10 10:54] SaraVieira commented on #289
Hello @guido4000 .

As for typescript there is a plugin for that  https://github.com/wub/preact-cli-plugin-typescript thanks to @wub 🎉

For redux I think that should be up to you to decide, in my case I perfer mobx and I think adding redux integration would cause a lot of these preference issues.
What do you think @reznord?

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store

[2017-08-10 10:57] reznord commented on #289
totally.

[2017-08-10 11:00] SaraVieira commented on #289
Can I work on a PR for tests? Using jest and snapshots? @reznord

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-10 11:12] reznord commented on #214
@anantoghosh webpack3 will be available in the next version (which might take sometime) because there are a bunch of things which we are planning for the next release

[2017-08-10 11:12] guido4000 commented on #289
@reznord @SaraVieira
Great, I did not see the Typescript plugin before.

[2017-08-10 11:14] reznord commented on #289
We thought of going with plugins since we just want to keep the cli as minimal and clean.

And the advantage with plugins is, you can add any no of plugins you want.

[2017-08-10 14:23] timarney commented on #243
So I haven't been able to track down the source of the issue but wrapping a try catch around this line in prerender.js fixes the issue.

`
_fs2.default.readFileSync(sourcePath, 'utf-8').split('\n');
`
Assuming the CLI uses domkit somewhere ... not sure why it's looking in my source dir for it.

https://github.com/yuanyan/domkit/blob/master/builtinStyle.js

[2017-08-10 15:01] thangngoc89 commented on #214
@anantoghosh if you can send a PR to back port that change to preact-cli, I'll be happy to merge it

[2017-08-10 15:51] RajeshBatth commented on #299
@reznord react-router support is in the roadmap of preact-cli ?

[2017-08-10 16:44] reznord commented on #299
React router is specific to react and `preact-router` is specific to `preact`.

If you want to use router in `preact-cli`, you can use `preact-router`.

[2017-08-10 16:46] reznord commented on #214
I wouldn't do that! Sick it is already changed in webpack branch, that might just lead us to conflicts while merging it.

[2017-08-10 16:49] RajeshBatth commented on #299
But the preact-router documentation says as long as the alias is present, react-router should be compatible
[Link](https://github.com/developit/preact-router#preact-router)

[2017-08-10 16:52] thangngoc89 commented on #214
@reznord this is a bug and we should fix it asap. Since webpack 3 will be a major change and the release day is pretty much unclear. I would recommend back port the fix and release a new version

[2017-08-10 16:56] thangngoc89 commented on #299
@RajeshBatth yes, it works great with preact-compat. But preact-cli is built around preact-router and currently, there is no easy way to get prerender works with react-router without forking preact-cli itself. If you're interesting in making a PR to help it happens, I'll be more happy to guide/review/merge it

[2017-08-10 16:59] reznord commented on #214
Well, in that case it is fine. (:

[2017-08-10 17:01] RajeshBatth commented on #299
@thangngoc89 I'm only have intermediate skills in front-end dev, but still I would like to give it a try.
Can you briefly explain me what is the challenge in supporting react-router and prerender?

[2017-08-10 17:09] thangngoc89 commented on #299
@RajeshBatth you need to implement Static Router (https://reacttraining.com/react-router/core/api/StaticRouter) into prerender logic https://github.com/developit/preact-cli/blob/master/src/lib/webpack/prerender.js

But I'm think about some kinds of abstraction that can let user write there own prerender logic.

[2017-08-10 17:11] RajeshBatth commented on #299
thanks @thangngoc89, I'll take a dive into the src code.

[2017-08-10 17:13] thangngoc89 commented on #299
as you can see on this line https://github.com/developit/preact-cli/blob/2631fd7dee92b9147e196229c7568c04c7e6ab7d/src/lib/webpack/prerender.js#L13-L14

Preact-router is really simple, it only need history with href and pathname property available in global scope to work.

[2017-08-10 21:44] ethanroday commented on #218
As far as I can see, making this work will require the following:
1. Allow the user to set the public path through a config variable of some kind (e.g. a `homepage` variable in `package.json` as described in #270).
2. Set Webpack's `output.publicUrl` to be the value of that variable (more specifically, `env.pkg.homepage || '/'`)
3. Define a new constant (e.g. `process.env.HOMEPAGE`) to allow `entr

[2017-08-10 21:57] molily opened #302 "Wiki: Config Recipes example code error"
Hi there, thanks for this great project!

I believe this section’s example code has a tiny error:

https://github.com/developit/preact-cli/wiki/Config-Recipes#customising-babel-options-using-loader-helpers

[code]

getLoader**s**ByName (plural) returns an array, so the first (and only) loader needs to be obtained with:

[code]

(or similar)

The subsequent getLoadersByName example uses `[0]` as we

[2017-08-10 23:18] molily opened #303 "WebpackConfigHelpers: getLoadersByName and css-loader"
_WebpackConfigHelpers / Webpack base config feature request_

Background: I’d like to modify the behavior of css-loader. I’d like to change the `localIdentName` in development mode. I’m having a hard time getting and changing to the right rule in the gigantic Webpack loaders structure.

Ideally, I’d like to use …

[code]

But this doesn’t work since css-loader is configured using Webpack-1-style q

[2017-08-11 02:24] nemoxps opened #304 "npm install EPERM error (errno: -4048)"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
I'm trying to install `preact-cli` but I'm getting an error. This is at the end of the npm log:

[code]

This error appears even if I run this as root. I looked into `C:\Node\node_modules\preact-cli\node_modules` and there isn't a folder called `fsevents`.
If I run `$ preact create example` I

[2017-08-11 14:13] thangngoc89 commented on #303
@molily that's terrific. Usually I just remove the loader completely and add a new one. Please send us a PR and I'll be happy to merge/review it

[2017-08-11 14:15] #214 closed

[2017-08-11 15:24] anubhav7495 opened #307 "preact init command not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`preact init` command doesn't work.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
preact init command should interactively ask for app initialization options.

**If this is a feature request, what is motivation or use case for c

[2017-08-11 15:26] reznord commented on #307
@anubhav7495 `master` branch is for development purposes. Please go through the `readme`.

`preact init` command will be available in the next release.

[2017-08-11 15:26] #307 closed

[2017-08-11 15:28] reznord commented on #304
@nemoxps can you provide the node version and such details?

Please fill the required fields in the issue template next time :)

[2017-08-11 15:29] anubhav7495 commented on #307
Ah! My bad.
Awesome turnaround time man.
Cheers.

[2017-08-11 15:36] nemoxps commented on #304
Oh, I thought it would be fine as you can find it in the npm log.

- Node: v8.2.1
- npm: v5.3.0
- OS: Windows 7

[2017-08-11 15:36] reznord commented on #302
Hey,

Thanks for pointing the issue in the wiki. you are right it returns an array and I've changed it.

Reference: https://github.com/developit/preact-cli/wiki/Config-Recipes#customising-babel-options-using-loader-helpers

[2017-08-11 15:36] #302 closed

[2017-08-11 15:37] reznord commented on #304
oh didn't see that part 😅

[2017-08-11 15:44] reznord commented on #303
@molily I totally agree with you on this. Never came across this earlier. Would love a PR on this. :)

[2017-08-11 16:00] thangngoc89 commented on #304
@nemoxps this is a permission issue. Install it with Administrator permission

[2017-08-11 16:13] nemoxps commented on #304
I did. I right-clicked that `cmd` icon and clicked `Run as administrator`, entered the administrator password and typed `npm i -g preact-cli`. Windows drives me mad...

[2017-08-11 16:19] thangngoc89 commented on #304
It's highly advice that you configure npm to not require sudo/Admin permission to install global packages

[2017-08-11 16:23] nemoxps commented on #304
Uhh, do you mind to share a link on how I'm supposed to do so?

[2017-08-11 16:24] thangngoc89 commented on #304
I don't know how to do it for Windows. But on *nix, I use nvm. There is a nvm port for Windows so you could try that

[2017-08-11 17:11] nemoxps commented on #304
Okay, then I'll give [`nvm-windows`](https://github.com/coreybutler/nvm-windows/blob/master/README.md) a shot.

[2017-08-11 19:21] anantoghosh commented on #262
I have also encountered this problems and looked into it:
preact serve works on bash for windows, not on powershell and cmd.

1. devcert-san requires openssl in Path
Since Bash for windows has openssl, everything works as expected. I get a prompt for installing the certificate, application starts serving from https://localhost:8080

2. when generating through simplehttp2serve
[code]
shouldn't this

[2017-08-11 19:34] thangngoc89 commented on #262
It's ES6 short-hand syntax, same thing. Could you try and create the `cwd` folder ? I don't see any obvious bug here.

[2017-08-11 20:32] anantoghosh commented on #262
@thangngoc89 I did that already. It did start simplehttp2server, but it is stuck at `Listening on https://localhost:40210...`

[2017-08-11 20:38] nemoxps commented on #304
It just don't want to work, no matter what I try.

[code]

`fsevents` blows it up, again and again. EPERM when I'm root... I just don't get it.

[2017-08-12 13:01] rijkvanzanten opened #309 "Classnames not generated on other filestructure"
**Do you want to request a *feature* or report a *bug*?**
A bug (or missing documentation if this is expected)

**What is the current behavior?**
If I create a component that is not in the "default" folders (`component`/`routes`) Webpack won't generate a classname on import of a sass file.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create a new Preact app with

[2017-08-12 13:04] rijkvanzanten commented on #304
Hey @nemoxps, this seems to be a problem in npm itself..  https://github.com/npm/npm/issues/17671

As far as I can tell the only fix at this moment is to revert back to a npm version that still works and install it that way.. (It seems like 5.0.4 should still work on Windows)

[2017-08-12 13:20] rijkvanzanten commented on #309
I'm trying to achieve a setup like this:
[code]

The `home` component in `routes` imports and renders the two correctly and I don't get any errors whatsoever. The classname isn't generated however, so the styles don't get applied.

[2017-08-12 15:22] reznord commented on #309
Hi @rijkvanzanten as of now we are [watching over the two folders (components/routes)](https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-base-config.js#L192-L195).

We still have to decide on whether or not to restrict the folders or not.

[2017-08-12 15:24] lukeed commented on #309
Yup, but you can use a custom config & modify/overwrite those values.

[2017-08-12 15:25] reznord commented on #309
IMO, it would be better to watch `src` folder.

[2017-08-12 15:51] rijkvanzanten commented on #309
Ahh that explains. I agree about watching the `src` folder.

But if these are the only folders being watched for style files, how come that an `index.scss` file directly in the `src` folder works as expected?

[2017-08-12 15:57] nemoxps commented on #304
@rijkvanzanten Thanks a bunch! That's the real issue. Downgrading to `npm@5.0.3` works for me. Though, trying to downgrade was a bit weird:

[code]

Anyway, thanks for helping, guys!

[2017-08-12 15:58] #304 closed

[2017-08-12 16:35] rijkvanzanten commented on #309
@lukeed How would I extend the config to include the whole `src` folder? Adding `config.module.loaders[4].exclude = ['src'];` to `preach.config.js` unfortunately didn't work 🙃

[2017-08-12 16:54] rijkvanzanten opened #310 "Build can't find node_module ending in .js or starting with @"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Trying to production build an app which uses a Node module which ends in `.js` (like [`headroom.js`](https://npmjs.com/headroom.js)) results in a `ENOENT` error

**If the current behavior is a bug, please provide the steps to reproduce.**
Import a Node module ending in `.js` into your Preact a

[2017-08-12 18:20] thangngoc89 commented on #310
How do you import your module? Could you generate a simply reproduce repo so I can clone and play with it?

[2017-08-12 18:45] rijkvanzanten commented on #310
Hi @thangngoc89

I import it the "regular" way:
`import Headroom from 'headroom.js';`

I just now noticed it also fails when I import an organization package like
`import Player from '@vimeo/player';`

I'll create a repo for you. I'll post a comment here with a link when it's done 🙂

[2017-08-12 18:48] thangngoc89 commented on #310
that's weird. I'll take a look. btw, I usually use https://github.com/KyleAMathews/react-headroom . it's super  small with declarative API

[2017-08-12 18:55] rijkvanzanten commented on #310
Yeah I just changed to that one (it misses some of the options however) 🙂

I've uploaded a small demo on https://github.com/rijkvanzanten/preact-cli-import-demo

It is the default `preact create` app, with the import added to the home component https://github.com/rijkvanzanten/preact-cli-import-demo/blob/master/src/routes/home/index.js

[2017-08-12 19:29] thangngoc89 commented on #310
This looks like a bug in ours' implementation. Investigating it

[2017-08-12 20:24] reznord commented on #310
@rijkvanzanten does it work fine when you pass a flag `--no-prerender` ?

[2017-08-12 20:30] thangngoc89 commented on #310
@reznord it doesn't work in dev mode too.

[2017-08-12 20:58] rijkvanzanten commented on #310
@reznord the no prerender flag doesn’t change anything

[2017-08-13 06:33] blakelapierre opened #311 "preact init doesn't work"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`preact init` gives a help output

![2017-08-13-023442_649x385_scrot](https://user-images.githubusercontent.com/777467/29246678-f95c400e-7fcf-11e7-9eee-f55deef40558.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
run `preact init` on command line

**What is the expect

[2017-08-13 06:36] reznord commented on #311
`master` branch is used for development. `preact init` will be available in the next version of `preact-cli`

Please go through the `README`.

[2017-08-13 06:36] #311 closed

[2017-08-14 05:32] ppshein opened #313 "preact-router not render template when click on Link"
**Do you want to request a *feature* or report a *bug*?**

**bug**

**If the current behavior is a bug, please provide the steps to reproduce.**

My page is just like Master Detail page. Left side is detail page and right side is list.

Following is left side detail code,
[code]

and following is right side list code

[code]

**What is the expected behavior?**
Left detail page is not rendered when

[2017-08-14 08:57] SaraVieira commented on #285
@lukeed @reznord I made a gist with the questions I found that already fixable : https://gist.github.com/SaraVieira/ab76cd4258a1e77c75829c6b38aa2ab1

[2017-08-14 18:38] SaraVieira commented on #285
updated the gist so that it's waaaay more readable

[2017-08-14 20:44] kahlil commented on #102
@developit this is a great update notifier: https://www.npmjs.com/package/update-notifier

[2017-08-15 02:07] ForsakenHarmony opened #316 "Stats file only includes `index.html`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
stats file only includes `index.html`

**If the current behavior is a bug, please provide the steps to reproduce.**
`preact build --json`

**What is the expected behavior?**
stats should include the whole bundle

**Please mention other relevant information.**
- node version
  **8.3.0**
- npm version

[2017-08-15 15:42] thangngoc89 commented on #285
@SaraVieira

It's not right. npm readme is always the up-to-date version of preact-cli. Only Github master README is not released yet.

[2017-08-15 16:58] SaraVieira commented on #285
@thangngoc89 True !
Updated the gist:
https://gist.github.com/SaraVieira/ab76cd4258a1e77c75829c6b38aa2ab1

[2017-08-15 17:07] reznord commented on #285
Regarding #309 it would be great to add a snippet on how one can extend the webpack config using `preact.config.js` for classnames support in various folders (other than `routes` & `components`).

[2017-08-15 19:38] hassanbazzi commented on #310
no pre-render does fix it for me btw. Having this issue with `import player from 'player.js'`

[2017-08-15 23:00] ajoslin commented on #281
Ping @lukeed, if you have a second would you mind commenting on the above?

[2017-08-15 23:27] lukeed commented on #281
Ooh, sorry, hectic week for me -- I'm in the middle of moving. 🚚

I think the truthy `state.child` should be enough.

As of right now, my theory focuses around the initial _javascript_ render. After reviewing your video clip a few more times (thank you 🙏), the pre-rendered content is, of course, fine. It is only once the app begins to boot up that a full reset + full re-render happens.

That point

[2017-08-16 03:39] skaraman commented on #285
more on config, how can one configure a custom loader like https://github.com/kossnocorp/defile#configuration

[2017-08-16 04:52] developit commented on #310
I'm seeing it work without prerendering, so this makes me thinks it's related to our use of `target:'node'`.

[2017-08-16 04:54] reznord commented on #310
It failed for me when I tried with `preact build --no-prerender`

[2017-08-16 05:07] developit commented on #310
ah it might just be dev vs prod.  dev build (watch) worked for me

[2017-08-16 06:45] reznord opened #318 "npm installation error"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
While running `npm install -g preact-cli`, the installation fails saying:
[code]

`yarn global add preact-cli` works perfectly fine. Looks like a npm issue to me.

**If the current behavior is a bug, please provide the steps to reproduce.**
- npm uninstall -g preact-cli
- npm install -g preact-cli

The

[2017-08-16 07:11] HadrienPierart opened #319 "What is the way to do SSR / prerender with : preact + preact-redux + preact-router ?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Im trying to make a not trivial preact app, bootstraped from the cli, which has prerender / ssr working. Prerender did seem to work, until I added preact-redux which broke the build with this error :

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
- bootstrap proje

[2017-08-16 07:32] reznord commented on #318
This sure is an `npm` issue.

It is because of an incomplete request. Either in the cache or from the remote server.

[code]
will do the trick (removes the whole cache 😅 and install it again)

[2017-08-16 07:32] #318 closed

[2017-08-16 11:41] developit commented on #309
We cant enable CSS modules for all of `src`, because that would make global CSS impossible. Maybe it would work to invert the precedence though: global CSS only within `src/style/**`, modules everywhere else.

I think something like this could work:

[code]

[2017-08-16 11:54] developit commented on #285
You can install or define your own loaders same as any webpack project:

[code]

Then use it like so:

[code]

[2017-08-16 12:26] reznord commented on #309
Just a random thought, can we use a different notation for global css something like `some_name.global.css`.

[2017-08-16 12:30] developit commented on #319
Hiya - this is actually a masked error due to #310.  Likely what's happening is your app (or one of its dependencies) is attempting to access `window` during SSR.

[2017-08-16 12:34] developit commented on #309
maybe yeah, but then we're back to things being specific to preact-cli :(

[2017-08-16 12:47] HadrienPierart commented on #319
mmm interesting. Would be good to log these errors while the build is being processed ? This would help a lot targetting these issues !
Thanks for the pointer, I'll have a look in this direction and get back to you ! Any tip or way to narrow down the search ?

I did not mention it in the first post (and u must get it quite often already), but you guys are doing an awesome job, so keep up the good

[2017-08-16 14:33] ajoslin commented on #281
@lukeed I appreicate the in-depth explanation. That all makes sense.

However, I'm just not sure how to accomplish "defer initial render until the current route's chunk is loaded.

It seems like `entry.js` would need to reach into the router, find the current path's component, and wait for that component's chunk to load before doing initial render. How would you go about that? Or am I completely o

[2017-08-16 18:49] javimosch commented on #12
I'm still having this issue inside componentDidUpdate. The workaround is to wrap the route function in a setTimeout 200

[2017-08-16 19:11] thangngoc89 commented on #12
@javimosch it only happens in dev mode, so I would say your ignore it for now. OR at least setTimeout 0

[2017-08-17 01:34] rubencodes commented on #299
Any other packages that are known not to work with `preact-cli`? I don't use `react-router` but I'm getting a very similar error (identical stacktrace) when using `--prerender`.

[2017-08-17 12:29] rodush commented on #67
Is it a bug that all `type`'s except "full", the default one, generate build folder with all the compiled assets?..

[2017-08-17 12:58] rodush opened #321 "QUESTION/BUG: TypeScript and default full application"
I'm trying to get running `preact(-cli)` with `sass` and `typescript`.
What I did is:
1. created new project with `--sass` and `--yarn` flags (---type _full_ is by default)
2. installed `preact-cli-plugin-typescript`
3. renamed `.js` files to `.tsx` files
4. launch `yarn dev` and see that compilation fails because of

    TS2559: Type '{ onChange: (e: RouterProps) => void; }' has no properties in

[2017-08-17 15:06] thangngoc89 commented on #321
Could you try the Typescript plugin ?

https://github.com/developit/preact-cli/wiki/Plugins

[2017-08-17 15:34] rodush commented on #321
@thangngoc89 You probably missed the step no. 2 in my initial message 😉 - I did install it, and .jsx compiles fine, the question is - how to properly define `onChange` handler, which one sees in the _full_ application.

[2017-08-17 20:23] timarney commented on #243
Looks like this might be related to https://github.com/developit/preact-cli/issues/310

Looks like this commit will fix.

https://github.com/developit/preact-cli/commit/40778ac5f7c6fd47fef11ab7cb3a9ef8a7c0b28e

[2017-08-18 01:28] jeffutter commented on #310
I just wanted to mention that this happens for me too. If you are trying to add `--no-prerender` when doing `yarn run` you have to run it as such: `yarn run -- --no-prerender`  or it thinks the argument applies to yarn, not preact.

[2017-08-18 03:31] reznord commented on #310
As @developit mentioned earlier, it is because of the SSR build that we are shipping by default.

We will be providing a better error stack trace when it fails on this in the future.

[2017-08-18 13:57] timarney commented on #218
Makes sense can roughly follow what create-react-app has i.e.
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder

[code]

[2017-08-18 17:05] timarney commented on #218
@reznord

Given there's access to the WebPack config already and you can pass in a template can this all be done with the publicPath from WebPack?

Maybe using env.ASSETS for public assets?

**preact.config.js**
[code]

**template excerpt**
[code]

[2017-08-18 20:05] SaraVieira commented on #39
@rkostrzewski this can be closed right ?

[2017-08-18 20:06] SaraVieira commented on #43
@rkostrzewski This can be closed too right ?

[2017-08-18 20:06] SaraVieira commented on #51
@developit @reznord Want a PR for adding these in the default index ?

[2017-08-18 20:09] reznord commented on #51
Umm....I really don't want to expose the `index.html`.

If they user really wants he can pass on a custom template while `preact build` & `preact serve`

[2017-08-18 20:11] reznord commented on #43
Ah! Here it is. Thought no one reported this issue.

@lukeed do you remember the discussion between us regarding an error in `preact build`?

This is the one!

[2017-08-18 20:12] reznord commented on #39
I don't think this is fixed.

[2017-08-18 20:27] thangngoc89 commented on #39
This is fixed by switching to prerender using Webpack.

[2017-08-18 20:27] #39 closed

[2017-08-18 20:29] thangngoc89 commented on #51
This should be closed since you can add whatever tag you want by passing `template` flags to the cli

[2017-08-18 20:35] ethanroday commented on #218
@timarney Unfortunately this solution will not take care of the service worker path, which will still be `/sw.js`.

[2017-08-18 20:49] timarney commented on #218
@ethanroday right thanks was just looking at your PR (entry.js).

Something else I ran into while trying to get this to work is paths in css files.  Might be a bit of an edge case but I have some global .scss files I'm pulling in (existing / legacy stuff).  I ended up using a SASS variable - background: url("#{$assetPath}images/Arrow.png") .  Not sure if this could be handled somehow as a Sass var

[2017-08-19 01:11] lukeed commented on #218
I addressed a possible `/sw.js` solution in https://github.com/developit/preact-cli/pull/315#issuecomment-323490486.

@timarney I'm pretty sure you want the custom [`options.publicPath`](https://github.com/webpack-contrib/extract-text-webpack-plugin#extract) from the `ExtractText` plugin. My personal rule of thumb is to always write css urls with an absolute path in mind.

[2017-08-19 02:22] #51 closed

[2017-08-19 03:12] #67 closed

[2017-08-19 11:00] rijkvanzanten commented on #309
I'll close this as it is possible to watch additional folders by modifying the config. I couldn't get it to watch everything in `src` though. However, that's probably for the better as @lukeed mentioned in https://github.com/developit/preact-cli/pull/312.

For future reference, I was able to get my extra `sections` folder working by adding the following to `preact.config.js`:

[code]

[2017-08-19 11:00] #309 closed

[2017-08-19 19:24] #310 closed

[2017-08-19 22:45] lukeed opened #326 "Change `--name` behavior"
**Do you want to request a *feature* or report a *bug*?**

Feature / Fix

**What is the current behavior?**

The `--name` flag does nothing & is described to do 2 _different_ things:

- `'Package name for the app'` _[here](https://github.com/developit/preact-cli/blob/e6fdcdb3ac531932b17c1f0bcf71e39e1d6951a6/src/commands/init.js#L39)_

- `'directory and package name for the new app'` _[here](https:

[2017-08-20 16:56] kuldeepkeshwar commented on #65
@developit what is the preferred way of hosting preact app in production? `npm run serve` uses `simplehttp2server`
but `simplehttp2server` itself says `This server is for development purposes only.`.
How to take advantage of http2 push when preact app is hosted behind a proxy like Nginx

[2017-08-20 19:38] developit commented on #289
Another one: option to disable automatic clearing of console on successful builds (from developit/preact#805). /cc @HadrienPierart

[2017-08-20 19:40] reznord commented on #289
too many flags! lol

[2017-08-20 19:42] developit commented on #289
Could be a config option, plugin or recipe. Maybe the latter.

[2017-08-20 20:08] ajoslin commented on #281
Ping @lukeed if you have a sec could you take a look again?

[2017-08-21 06:28] reznord commented on #289
It is just a clearConsole function that does this. If you remove that, you are good to go 😄

[2017-08-21 09:16] cuduy197 opened #330 "How to add custom webpack alias ?"
How to add custom webpack alias using "preact.config.js" ?

[2017-08-21 09:34] cuduy197 commented on #330
https://ant.design/docs/react/use-with-create-react-app
I dont know how to add config to modify less-loader ? pleace help me

[2017-08-21 09:41] SaraVieira commented on #330
@cuduy197

To add a alias you need to create a preact.config.js and do something like this:
[code]

[2017-08-21 09:46] cuduy197 commented on #330
@SaraVieira  Thanks you 👍 , how can i config less-loader ?

[2017-08-21 09:46] SaraVieira commented on #330
Trying to check that now :)

[2017-08-21 10:07] SaraVieira commented on #330
Here you go man

[code]

[2017-08-21 10:08] SaraVieira commented on #330
Just place that after all in the first one and you can change both :)

[2017-08-21 10:17] cuduy197 commented on #330
@SaraVieira  WOW, Thanks you alot <3

[2017-08-21 10:17] SaraVieira commented on #330
@cuduy197 Worked fine ? :)

[2017-08-21 10:20] cuduy197 commented on #330
Yeah 😄

[2017-08-21 10:21] SaraVieira commented on #330
Awesome !

@reznord @developit can you guys close this issue ? :)

[2017-08-21 10:58] robinvdvleuten opened #331 "The CopyWebpackPlugin is undefined"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When I call the `getPlugins` helper, an array of all used plugins is returned. But it doesn't seem to contain the `CopyWebpackPlugin`.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

I expect an array containing the `CopyWebpa

[2017-08-21 11:13] SaraVieira commented on #331
Hi @robinvdvleuten ,

The preact cli does not use that webpack plugin , if you need it you may need to add it by pushing into the `config.plugins` array in your preact-config.js

Here you can see the CLI's webpack : https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-base-config.js

[2017-08-21 13:41] cuduy197 opened #332 "Disable ssr prerender ? Just build spa app ?"
Note: The code generator has deoptimised the styling of "E:/preact/hello/build/ssr-build/ssr-bundle.js" as it exceeds the max of "500KB"?

How to disable prerender when build ?

[2017-08-21 14:22] reznord commented on #332
`npm run build -- --prerender false` should do the work.

[2017-08-21 14:24] #331 closed

[2017-08-21 14:24] #330 closed

[2017-08-21 14:33] reznord commented on #287
Can you give this a try and see if it works? https://github.com/developit/preact-cli/issues/304#issuecomment-321979782

[2017-08-21 14:39] #301 closed

[2017-08-21 14:52] reznord commented on #243
This happens when you run `preact build` or `npm run build`?

Guess: it might be on `preact build`

[2017-08-21 14:53] robinvdvleuten commented on #331
@SaraVieira but there is one in https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-client-config.js#L76 Aren't these merged when building with webpack?

[2017-08-21 15:14] timarney commented on #243
Via package.json npm scripts (npm run build)

running the npm script
`preact build` //fails

running the npm script (if I add --no-prerender)
`preact build --no-prerender` //success

When it tries to do the prerender I see

Build [==================  ] 91% (17.6s) additional asset

Fails at Template execution failed: Error: ENOENT: no such file or directory,
src/~/domkit/builtinStyle.js (I don't k

[2017-08-21 15:18] reznord commented on #243
Totally related to #310. Seems like domkit uses window somewhere. That is the reason why it is failing.

[2017-08-21 17:31] lukeed commented on #330
Thanks @SaraVieira

[2017-08-21 17:33] lukeed commented on #281
@ajoslin 🙈

Yes, I'm playing with the templates now. I'll try to come up with a solution & post it here!

[2017-08-21 17:54] developit commented on #331
Ah - custom config is actually run twice - once against the SSR/prerender configuration, and once against the client configuration.  CopyWebpackPlugin is only in the client configuration, so you'll want to existence-test for it when trying to pull it out of the config:

[code]

[2017-08-21 18:12] developit commented on #291
I kinda like the progress bar of webpack-simple-progress-plugin better. Anyone feel the same?

[2017-08-21 19:00] kurtextrem commented on #291
Doesn't preact-cli use its own template for the bar? Both support templates

Am 21.08.2017 20:12 schrieb "Jason Miller" <notifications@github.com>:

[2017-08-21 19:05] reznord commented on #291
when did I close this issue? damn! my bad

[2017-08-21 23:03] thangngoc89 commented on #65
@kuldeepkeshwar nginx itself doesn't support http2 push so you can't do anything about it.
There are many option to host a static sites with h2 push support.

- use cdns, like cloudflare, they support h2 push by sending the right header
- static hosting service like netlify, firebase hosting, ...

[2017-08-21 23:57] oren commented on #65
I use caddy and I believe it has http2 by default.

On Aug 21, 2017 4:03 PM, "Khoa Nguyen" <notifications@github.com> wrote:

[2017-08-22 05:09] cuduy197 opened #333 "How to using async/await with mobx ? [SLOVED :tada: ]"
I'm using mobx and i want to using async/await .
When i build it show error
![capture](https://user-images.githubusercontent.com/25724956/29549443-8d506f24-8732-11e7-9546-a28b29ae483c.PNG)

This is my async fn

![captur2e](https://user-images.githubusercontent.com/25724956/29549459-a854f132-8732-11e7-9cb5-057f85c9fcf1.PNG)

[2017-08-22 05:22] reznord commented on #333
This doesn't seem like an issue with `preact/preact-cli`. Probably it is an error in your `userStore.js`

[2017-08-22 05:23] #332 closed

[2017-08-22 05:25] cuduy197 commented on #333
@reznord i'm run in dev mode it work normal, but error when i build ?
Do i need config babel ?

[2017-08-22 05:28] reznord commented on #262
@ethanroday the issue is when you bootstrap a project using `preact-cli`, it doesn't run `yarn build` command.

Can you please run the build and try to run `yarn serve`?

I got bit by this a couple of times. probably I'll add the `npm run -s build` to the `postinstall` script, that should do the work.

[2017-08-22 05:30] reznord commented on #333
Can you try running `npm run build -- --no-prerender` ?

Next time while opening an issue please follow the template.

[2017-08-22 05:32] #43 closed

[2017-08-22 05:34] cuduy197 commented on #333
Yes, but it still error
It only work on development . 😕

[2017-08-22 06:16] #199 closed

[2017-08-22 06:19] robinvdvleuten commented on #331
I also managed to solve it by just adding the plugin myself within a custom config file 👍

[2017-08-22 06:53] cuduy197 commented on #333
🎉  Yeah , i sloved this problem . 😄
Frist add  `yarn add babel-plugin-transform-runtime --dev `
then config "preact.config.js"
[code]

[2017-08-22 13:39] KatSick opened #334 "There is no gzip for js bundles"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No gzip on js files

**If the current behavior is a bug, please provide the steps to reproduce.**
Setup project with preact-cli 1.4.1. Open localhost:8080 and check the network tab in Chrome

**What is the expected behavior?**
Gzip enabled

**Please mention other relevant information.**
- node vers

[2017-08-22 13:50] reznord commented on #334
As of now we are not compressing the js bundle. Probably we add an option to the build command so the use can choose if he wants gzipping or not.

/cc @kristoferbaxter @developit

[2017-08-22 14:05] #333 closed

[2017-08-22 15:48] OngeUK commented on #321
I have the exact same problem having followed pretty much the same steps as @rodush...

[2017-08-22 15:54] developit commented on #321
Seems like the `onChange` prop is just missing from `preact-router`'s typescript definitions.  Can someone add it?  https://github.com/developit/preact-router/blob/master/src/index.d.ts#L25

[2017-08-22 16:02] reznord commented on #321
I will, do it in a few minutes.

[2017-08-22 16:49] jojo05 opened #335 "what is recommended way to install preact-cli dev version?"
Does anybody recommend also having both version (latest release and dev version), so that new projects are created with either one ?

[2017-08-22 16:53] jojo05 opened #336 "bundle splitting"
Is there a preact.config.js snippet for splitting the bundle in two parts, dependencies and app ?

The use case would be for updating only the app.min.js in the actual PWA production updates

[2017-08-22 17:03] reznord commented on #335
What do you mean? Can you clarify or elaborate more on what you want?

[2017-08-22 17:04] jojo05 commented on #335
I am using 1.4.1. I want to test the homepage PR, preact init, ... which are in the dev version ?
What do I do?

[2017-08-22 17:06] developit commented on #335
[code]

[2017-08-22 17:06] developit commented on #336
Something that installs CommonsChunkPlugin with a setup to do async commons would be good.

[2017-08-22 17:07] developit commented on #334
inb4 we should also do brotli

[2017-08-22 17:14] reznord commented on #334
We have the option of using [Zopfli](https://github.com/google/zopfli) as well. @kristoferbaxter can give more insights on this.

[2017-08-22 17:14] jojo05 commented on #336
Having a broad set of preact.config.js snippets that change webpack configuration should help new users not to have to dig deep into webpack (learning webpack myself currently)
https://medium.com/webpack/webpack-bits-getting-the-most-out-of-the-commonschunkplugin-ab389e5f318

[2017-08-22 17:20] jojo05 commented on #335
Great! thanks
I'll wait a bit more and then close the issue

[2017-08-22 18:32] thangngoc89 commented on #335
Yarn version:

[code]

Preact-cli folder can be anywhere with yarn

[2017-08-22 18:38] thangngoc89 commented on #334
My 2 cents:

- Need to compress the output at build step: messing with native dependencies, probably means lots of new issues.
- We need to change simplehttp2server /superstatic to something production ready so that users can run `npm run serve`

[2017-08-22 21:37] k1r0s commented on #258
Omg... I just finished my project and then I see this.. :'(

switching to preact-material-components then..

[2017-08-23 10:57] reznord commented on #321
Here is the PR for that. https://github.com/developit/preact-router/pull/229

/cc @developit

[2017-08-23 12:16] robinvdvleuten opened #337 "preact-cli-plugin-graphql"
I've created a GraphQL plugin which can be worth mentioning on the wiki page. It preprocess any "GraphQL query files" when imported. You can see the plugin [here](https://github.com/robinvdvleuten/preact-cli-plugin-graphql).

[2017-08-23 12:24] reznord commented on #337
@robinvdvleuten can you paste a snippet as an example on how to extend the `preact.config.js`?

This might be worth adding.

[2017-08-23 12:30] reznord commented on #337
Added: https://github.com/developit/preact-cli/wiki/Plugins#list-of-plugins 😄

[2017-08-23 12:45] reznord commented on #337
Oh nvm, you have added it in the [README](https://github.com/robinvdvleuten/preact-cli-plugin-graphql/blob/master/README.md).

[2017-08-23 12:45] #337 closed

[2017-08-23 18:41] robinvdvleuten opened #338 "eslint also lints build directory"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When I run `npm test`, it runs eslint which lints the build directory by default.

**If the current behavior is a bug, please provide the steps to reproduce.**

`npm test`

**What is the expected behavior?**

I expect that only my source files are linted

[2017-08-23 20:20] developit commented on #338
Hmm - looks like it is bound only to `src`: https://github.com/developit/preact-cli/blob/80a77acc3df6ec7acbf4b11c7e13dd5ee2e64a6e/src/lib/setup.js#L53

Maybe an older scaffolded project?

Might be good to have it scaffold an eslintrc.

[2017-08-23 21:07] robinvdvleuten commented on #338
@developit ah my bad! I am using version v1.4.1 which doesn't have this change. Maybe it would be nice to automatically let the CLI generate an eslint config.

[2017-08-23 21:18] lukeed commented on #338
@robinvdvleuten That _is_ from v1.4.1 🤔

[2017-08-23 22:36] sk22 opened #339 "DOM body's first div is used, but could be used by browser extension"
**Do you want to request a *feature* or report a *bug*?**
A conflict, so more of a bug

**What is the current behavior?**

When using a browser extension that alters the DOM, like Emoji One, the Preact app might not be rendered to the correct spot, or even twice. For example, Emoji One injects an invisible element as the first child of body after some time. Since the app appears always to be rende

[2017-08-23 23:10] developit commented on #339
Interesting - I don't think we can force people to render into a container, but we can definitely have SSR mark the rendered app's root node and give that preference over `document.body.firstElementChild`.  FWIW the offending code is [here](https://github.com/developit/preact-cli/blob/master/src/lib/entry.js#L17).

[2017-08-23 23:17] developit commented on #336
Yup - that's what we're using plugins for:
https://github.com/developit/preact-cli/wiki/Plugins

[2017-08-23 23:18] developit commented on #338
I wish it was possible to define ignored/included directories in `eslintConfig` in the package.json :(

[2017-08-23 23:19] developit commented on #334
I don't think there's an h2 alternative for simplehttp2server, but we could use `serve` instead of superstatic.  I think they might be looking into supporting the same config format?

[2017-08-23 23:27] developit commented on #321
done https://github.com/developit/preact-router/releases/tag/2.5.7

[2017-08-24 02:05] reznord commented on #338
It is possible and I did in one of the PRs. But since we thought of going with templates, I closed that issue.

[2017-08-24 02:48] reznord commented on #338
@developit, added in the templates

[2017-08-24 07:04] rodush commented on #321
Thanks for the patch in router！
As for the css, what I did （let ... require）, appears to be just an idiomatic way when you work with typescript and webpack - require here handled by webpack, and TS indeed cannot import scss file as it is not a real module.

[2017-08-24 07:05] #321 closed

[2017-08-24 08:26] #335 closed

[2017-08-24 08:45] jojo05 commented on #339
Why not have public/index.html like with CRA and always render to a given div ?

[2017-08-24 08:48] reznord commented on #339
We are not exposing the index.html file but you can pass your template to the `watch/build` commands using `preact serve --template "template.html"`

In this you can do any sort of modifications which you want to the HTML file 😄

[2017-08-24 08:51] #276 closed

[2017-08-24 08:55] jojo05 commented on #339
Yes, I mention template in my first comment, but my second comment is more focused on the current issue, on a specific way to solve it.

[2017-08-24 09:41] sk22 commented on #339
I guess it works this way because no one expects that the DOM is manipulated by anything other than Preact, so `document.body.firstElementChild` was simply used. That's no problem, as long as the Preact is the only one who's manipulating the DOM.

Sure, this could probably be fixed by introducing a `div` with an ID and rendering it to that instead of the body's first child. But, the `div` itself i

[2017-08-24 09:50] sk22 opened #340 "Register the service worker in development"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The service worker only gets registered in production and when the https is used

**What is the expected behavior?**
I'd expect preact-cli to also register a service worker in development. On localhost, service workers are also supported without http, so why not? [Web Fundamentals](https://develope

[2017-08-24 15:29] robinvdvleuten opened #341 "Plugin to handle env vars a la CRA"
I've extracted another plugin from my created Preact SPA. It is a plugin to have support for environment variables a la CRA. Any env var prefixed with `PREACT_APP_` can be used in your code as `const secret = process.env.PREACT_APP_SUPER_SECRET` for example. It would be nice if it can be added to the wiki :) You can see the plugin here => https://github.com/robinvdvleuten/preact-cli-plugin-env-var

[2017-08-24 16:04] ethanroday commented on #262
I thought `yarn build` ran `preact build && preact serve` anyway?
Regardless, I seem to have found a way around the problem. If I just do the setup in Git Bash rather than in Powershell everything works just fine.
Not sure whether you want to still consider this an issue - since this means it still doesn't work out of the box on Windows - so I will leave it open.

[2017-08-24 16:57] rvion opened #342 "npm i -g preact-cli => Error: Cannot find module 'config/donation-message.js'"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

[code]

**Please mention other relevant information.**

- node -v v6.10.2
- npm -v 3.10.10 (bug also happens with latest yarn)
- osx

[2017-08-24 17:09] lukeed commented on #342
This is actually a (new) issue with Preact itself: https://github.com/developit/preact/issues/834

[2017-08-24 17:09] #342 closed

[2017-08-24 17:36] developit commented on #342
sorry

[2017-08-25 09:20] thangngoc89 commented on #341
Hey thank you for making this plugin. But I want to add my 2 cents here. Webpack will replace each process.env.PREACT_APP with the actual value. If you use this at many places, this could resolved in a huge bundle. This only make sense for NODE_ENV where replacing the value will help uglify removing dead code. If you're using this a lot, consider moving them to a normal js file with const

[2017-08-25 12:08] robinvdvleuten commented on #341
@thangngoc89 I get what you mean! I would only recommend it for using things that need to be configured easily like Auth0 tokens, API urls, etc. It is very handy to use it in products like Netlify where you can define env vars for the build process.

[2017-08-25 17:22] makenai commented on #300
Not sure what the actual issue was, but I was able to get it to install by moving '~/.nvmrc' that contained my email address and auth info. Possibly it was using some older format or there was an actual block on my specifically ('ouch!' if true). 'npm logout' did not work.

[2017-08-25 17:22] #300 closed

[2017-08-25 22:45] acoll opened #343 "ReferenceError when using preact.config.js"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I added a preact.config.js because I wanted to add a webpack loader. I added an empty function that does nothing. Next I ran `preact watch` which results in this error:
[code]

I traced the bug back to here: https://github.com/developit/preact-cli/blob/master/src/lib/webpack/transform-config.js#L19.

I

[2017-08-26 12:06] alex-shamshurin commented on #124
So does it support `.browserlistrc` ?

[2017-08-26 12:44] developit commented on #124
No, only the package.json option.

[2017-08-26 12:52] reznord commented on #124
for now 😛

[2017-08-26 15:27] ajoslin commented on #281
Alright. I appreciate it. I'm still playing with this too, I'll post here if I come up with anything.

[2017-08-26 15:44] ajoslin commented on #281
Hacky solution... AsyncComponent emits "asyncComponentLoading" in its constructor, and "asyncComponentLoaded" in its `done` callback.

Then the app startup listens for those.

**entry.js**
[code]

The biggest problem with this is that we're mounting the app twice. This means that if any components in the app have side effects on mount, those side effects will happen twice.. we can't really tolerat

[2017-08-26 18:08] lukeed commented on #281
I was putting my efforts into #329 -- now that that's done I can _actually_ put effort into this guy. Been on my mind & want to hack at it 😈

[2017-08-27 09:26] ptbrowne opened #344 "preact init does not work"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

`preact init` does not work.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

It should "create a new app interactively".

**Please mention other relevant information.**

macOS 10.12.6
node v8.3.0
yarn 0.27.5
npm 5.3.0

[2017-08-27 09:38] ptbrowne commented on #344
I used the source instead of installing via npm and it works now, the package must not be completely up-to-date on npm. What is weird was that preact-cli version was showing at 1.4.1 already.

[2017-08-27 09:38] #344 closed

[2017-08-28 07:39] rodush commented on #343
@acoll You shouldn't do anything specific as webpack + babel work out of the box. You only add that `preact.config.js` file if you want to customize some webpack configuration.

[2017-08-28 07:42] reznord commented on #343
when you do this, you are telling the `preact-cli` to overwrite the whole internal `babel-config` with what's given by the user.

[2017-08-28 07:59] reznord commented on #338
@robinvdvleuten you can add `"eslintIgnore": ["build/*"]` to your package.json, that will ignore the build folder while linting.

[2017-08-28 14:38] acoll commented on #343
@rodush Yea my intent was to add a new webpack loader that isn't included in the default webpack config (the polymer loader to be specific).

@reznord I think this makes sense, maybe the docs should mention that if you use a preact.config.js then you also need to include a babel config. Also if you don't the cli could fail with a more helpful message. If thats the right direction I'd be happy add

[2017-08-28 14:42] reznord commented on #343
You are wrong! You don't need to specify the `.bablerc` file every time you want to use `preact.config.js`.

It would be great if you can link to your code where you are getting this problem (the whole project) so I can test it locally.

[2017-08-28 15:04] acoll commented on #343
Oh I misunderstood. Also I was unable to get the same error when starting a fresh project which led me to realize that this only happens inside a nested directory of another project with a package.json that has its own babel config.

I created a subdirectory inside an existing project and did a fresh `preact create` and added a `preact.config.js` and saw this issue. It seems like its going up a fe

[2017-08-28 15:16] #343 closed

[2017-08-29 00:35] jpoo90 opened #345 "SockJS issue when port is different than 8080"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After executing an AJAX request, this errors from sock start populating the console

![preactsockerror](https://user-images.githubusercontent.com/5958030/29799246-6757427c-8c30-11e7-8fd0-e1b27c9b6643.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

- Run a server on p

[2017-08-30 15:00] touchstoneis commented on #316
I experienced the same behavior as well. I don't have an answer, but if you are in a bind and need the stats, editing the following lines in 'node_modules/preact-cli/lib/lib/webpack/run-webpack.js'  'writeJsonStats' method worked for me:

..
	//jsonStats = jsonStats.children && jsonStats.children[0] || jsonStats;

	//jsonStats.modules.forEach(stripBabelLoaderFromModuleNames);
	//jsonStats.chunks.f

[2017-08-31 16:58] developit commented on #339
I think if we inject a root ID/attribute during SSR (by post-processing the rendered HTML) we can make this nice and transparent.

[2017-09-01 10:59] pronevich opened #347 "Question: Is it possible to do SSR + dynamic routing now?"
What is missing in `preact-cli` for SSR and dynamic routing with code splitting? Maybe exists examples or boilerplate with this functionality.

[2017-09-01 21:52] filoxo commented on #345
Your server is not actually running on `8080`, which you might be expecting. The CLI will randomly choose a port to run on if 8080 is taken (see the URL in your browser), but there is definitely a bug in that the hmr script isn't using that randomly-selected port. I came here to report this as well.

[2017-09-01 22:36] yavorski commented on #36
I tried to configure `fast-async` with `preact.config.js`:

[code]

And `npm run build` throws an error:

[code]

Any suggestions on how to make this work?
Full code here: https://github.com/yavorski/preact-cli-fast-async
Plugin for this would be nice though :)

[2017-09-02 10:21] nygdjs opened #348 "Multiple watch folders?"
How is it possible to specify more than one (by default `/src`) watch folder for the dev server (`npm start`)?

The reason is that I'm developing an app, which has some npm dependencies, which I'm also developing, and they are scoped/private packages, so will reside in something like `/node_modules/@scope/`, so watching this folder and linking those dependencies there would be awesome.
Is it possi

[2017-09-02 11:07] yavorski commented on #224
Hi fellas!
Finally managed to get to this.
As sugessted, I created `src/template.html` with the following contents

[code]

And `components/Template.jsx` with the following contents:

[code]

Everything is working nicely and i like it very much!
However i would be happy if someone make code review.
I think it would be awesome if we add this to the `wiki` and point it the `readme` `template` sectio

[2017-09-04 04:01] ForsakenHarmony commented on #316
yup that works, thx

[2017-09-04 14:08] lukeed opened #350 "Run TravisCLI with Yarn"
Modify caching behavior & install Yarn to start. Will run tests much faster since shared deps will be served locally.

---

_Extracted from #329 for clarity._

[2017-09-04 14:11] lukeed opened #351 "Error if no `template` dir found"
During the extraction phase of `preact create`~

Should error & exit with a note about missing `template` directory. This is structural requirement.

[code]

---

_Extracted from #329 for clarity._

[2017-09-04 14:22] lukeed opened #352 "Prompt user if insufficient args"
If not enough data has been passed to the `preact create` command, ***should we*** prompt the user for the data?

Currently, Yargs will exit and print help text along with ~`Not enough non-option arguments: got 0, need at least 2`.

If we _were_ to prompt users for missing data, we'd also print an info message along these lines:

[code]

What should we do?

[![](https://m131jyck4m.execute-api.us-w

[2017-09-04 14:28] lukeed opened #353 "Inject Values during Template extraction"
Similar to Yeoman, values (eg, `name`, `description`, etc) should be injected into the output files.

***What syntax should be used?***

[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BS6MKVMGKVQHCYMQGDYF2461/%7B%7B%20foobar%20%7D%7D)](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BS6MKVMGKVQHCYMQGDYF2461/%7B%7B%20foobar%20%7D%7D/vote)
[![](https://m13

[2017-09-04 14:36] lukeed opened #354 "Template Extraction Hooks"
During the extraction phase of `preact create`, template authors should have the ability to request/require additional information in order to scaffold a more powerful boilerplate.

This is inspired by Yeoman & [Vue Cli](https://github.com/vuejs/vue-cli#writing-custom-templates-from-scratch). It would also pair nicely with #353.

***Current Ideas***

- Prompts
  - Required?
  - Conditional?
- Dire

[2017-09-04 15:32] #99 closed

[2017-09-04 15:32] #326 closed

[2017-09-04 18:49] #350 closed

[2017-09-04 18:49] #351 closed

[2017-09-04 23:45] Ch4s3 opened #357 "preact watch doesn't kill the process when the stdin pipe is closed"
Npm Version: 5.3.0
Node version: 8.0.0
OS: macOS Sierra 10.12.16

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I run preact watch by running `npm run dev`, which runs `preact watch`. But I'm doing this from a process run by another app that serves as the backend. This a app correctly spins up preact watch, but when it shuts down and closes the std

[2017-09-04 23:48] Ch4s3 commented on #357
[Here is how](https://github.com/brunch/brunch/blob/36ba9bb4804e306b0a225d6ec75eddb231188d10/lib/watch.js#L181) Brunch handles the behavior I expect.

[2017-09-04 23:49] krokofant commented on #249
This would be awesome. Did this hit a stand-still?

[2017-09-04 23:49] Ch4s3 commented on #357
My hot fix for anyone landing here from google is to run this script to start `preact watch`

[code]

[2017-09-05 00:22] Ch4s3 commented on #357
I'm guessing a pr would need to target [run-webpack.js](https://github.com/developit/preact-cli/blob/f1891fe70a9c81920fe236ba1c0d1c793df96bb5/src/lib/webpack/run-webpack.js) but I'm not familiar enough with preact or node's syscall handling to feel confident putting it together.

[2017-09-05 14:45] ajoslin commented on #281
@lukeed I had to go into production without route chunking (I moved all of my routes into `src/components/pages`). I'd like to fix that as soon as this is fixed.

I know your time is limited, so I put a $100 bounty on this issue to hopefully enable you to prioritize it: https://www.bountysource.com/issues/47899502-all-routes-are-chunked-causing-hydration-of-prerendered-pages-to-flicker

[2017-09-05 14:55] reznord commented on #281
Hahaha! Clever move!

[2017-09-05 18:46] lukeed opened #358 "Ensure valid `name` key within `package.json`"
Currently, can end up with this:

[code]

... which will throw an error when you try to `yarn/npm install`

[2017-09-06 00:22] pbfy0 commented on #36
I'm having the same issue as @yavorski . Without any configuration (fast-async or otherwise), preact-cli works fine in the development server mode, but build throws the same error.

[2017-09-06 00:43] developit commented on #36
@pbfy0 The issue occurs when there are untranspiled async functions, await expressions or generators in the resulting bundle - uglify-js can't handle these. In development we don't run uglify.

[2017-09-06 00:44] pbfy0 commented on #36
But as far as i can tell, the async functions are getting transpiled. If I disable source maps in Chrome on the development server, I don't see any async/await.

[2017-09-06 18:01] #358 closed

[2017-09-06 18:01] #352 closed

[2017-09-06 21:32] ospatil opened #360 "production option for the build command not working?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The `--production` option to the `build` command doesn't seem to work. It creates a minified build even if I pass `false` as a value for it.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create a new project with empty template - `preact create my-app --type empty`
2.

[2017-09-06 22:18] lukeed commented on #360
You would have to do `--no-production` because yargs isn't smart enough to infer boolean types.

[2017-09-06 23:56] #360 closed

[2017-09-07 02:37] adithyamahesh596 commented on #304
Downgrading worked. Thank you guys!!!!!!!

[2017-09-07 15:56] ivebencrazy opened #362 "`preact build` not respecting `preact.config.js` webpack entrypoint?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Hey fam!  I'm using the `preact-cli-plugin-typescript` plugin, and also changing the entrypoint to `index.tsx` instead of `index.js`. The `npm start` dev build **WORKS**, but the `npm run build` and `preact build` breaks with error:
[code]
I've also tried various things like `preact build --config=prea

[2017-09-07 19:16] lukeed commented on #362
Hey there, thanks for this!

You have to adjust the [`preact-cli-entrypoint` alias](https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-base-config.js#L67) and not the `webpack.entry` itself.

[2017-09-07 20:30] ivebencrazy commented on #362
Hey, @lukeed thanks for taking a look!
I believe that is what I am doing in my config with this line:
[code]

Is this is the correct property?

[2017-09-08 02:36] variable-content commented on #362
Take a look at this issue on the plugin's repo: https://github.com/wub/preact-cli-plugin-typescript/issues/3

There's suggestions from myself and @fend25 which should help get you started.

[2017-09-08 02:42] variable-content opened #363 "Add option to create stand-alone component template from the CLI."
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
As a component author I'd like to use the CLI to create easily shareable components that other developers can consume in preact apps, or ideally in a format that allows them to be used in react/vue/angular/etc. applications (web components?). See this SO post for a similar request: https://stackove

[2017-09-08 06:30] lukeed commented on #362
The suggestions above should be correct. I haven't used it myself, but it looks as though that's the correct approach.

Closing for now, but please continue to let us know if this isn't working on our end. 🙌

[2017-09-08 06:30] #362 closed

[2017-09-08 07:34] diagramatics commented on #258
#317 fixes this right? This looks like a dupe of #310 and is also blocking me from using prerendering with https://github.com/prescottprue/react-redux-firebase.

[2017-09-08 09:55] soothran commented on #304
Thanks. It also worked for me. I downgraded my npm version to 5.3.0

[2017-09-08 09:59] reznord commented on #304
For all the people who are facing the same issue, it has been resolved by npm in the [latest version](https://github.com/npm/npm/releases/tag/v5.4.1).

[2017-09-08 11:21] developit commented on #258
Yes. Usually there's an underlying error that the above stack trace is masking.  I'll see if we can get the current state released before we publish 2.0.

[2017-09-08 11:42] developit commented on #363
You're likely to find [preact-habitat](https://github.com/zouhir/preact-habitat) or [preact-custom-element](https://github.com/bspaulding/preact-custom-element) provide what you're looking for. Both of them wrap up your exported Preact component in a renderer layer - preact-habitat with its imperative and DOM declarative APIs, and preact-custom-element exporting to a Web Component.

In preact-cli,

[2017-09-08 15:06] ivebencrazy commented on #362
This works. Thanks @variable-content.  Altho it's slightly disappointing that this basically just means that changing the entrypoint is not supported, @lukeed? But that's just me being picky haha.  Thank you both for the help in getting my project working!  🎉

[2017-09-09 01:41] lukeed commented on #281
I think I solved it 😃 I'll post later tonight. Time for a walk!

[2017-09-09 05:39] lukeed commented on #281
Yup! Here's a quick [video recording](https://www.dropbox.com/s/uvk6nvz21emd5fk/async-fix.mp4?dl=0).

PR underway~

[2017-09-09 18:33] SvetaSR commented on #304
I actually installed 5.4.1 today, and now I get this issue :(
I never had this problem before, and never had to use cmd as administrator.
Tried it thought, and still nothing.

[2017-09-10 02:58] Jonarod commented on #220
Same issue here.
Can't run lighthouse after `preact build` and `preact serve`.
Seems like at some point lighthouse tries to redirect to `http` instead of `https` causing this ugly error :
[code]
P.S: working on Ubuntu 16.04

[2017-09-10 05:42] nephix opened #365 "Creating an app with the default template throws an error"
When I build an app with the default template from https://github.com/developit/preact-cli/blob/master/src/resources/template.html I get an error message.

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
1. `preact create TestApp`
2. Copy content of https://github.co

[2017-09-10 05:47] lukeed commented on #365
Are you using `preact-cli` v1.4.1?

[2017-09-10 05:49] nephix commented on #365
Sorry I forgot about that, yes it's preact-cli 1.4.1

[2017-09-10 09:12] unlocomqx commented on #220
@Jonarod check the issue I linked above, it's a know issue with simplehttp2server
I ended up creating a http2 nginx server pointing to my build directory to have proper redirection and lighthouse audits.
Lighthouse will test your http > https redirection that's why it makes a http request
https://developers.google.com/web/tools/lighthouse/audits/http-redirects-to-https

[2017-09-10 14:29] Jonarod commented on #220
Mmmm too much for me sorry: I lost like 1h just to understand how to:
1. setup nginx
2. generate self-signed certificate
3. Make it work locally

I ended up with [serve-https](https://www.npmjs.com/package/serve-https) from npm.

Quick and easy:
[code]
then browsing to my `/build` repo and finally:
[code]
And we're good to go !!

[2017-09-11 12:31] nephix commented on #365
Any quick workaround for placing custom scripts into the `<head>`? This is currently blocking 4 production releases because we can't go live without Analytics

[2017-09-11 22:51] tmcw opened #366 "Ejecting from preact-cli isn't very obvious or simple"
**Do you want to request a *feature* or report a *bug*?**

I'm requesting a feature.

**What is the current behavior?**

Right now, when you decide to implement webpack-dev-middleware or another more low-level integration with Webpack and Preact, the route to getting there is quite difficult to navigate.

**If the current behavior is a bug, please provide the steps to reproduce.**

* Try to switch

[2017-09-11 23:42] developit commented on #366
I would suggest this is a failing of the CLI, not of eject. Eject basically evaporates any value the CLI has over a boilerplate (updates, compartmentalization, reusability, etc).

Would the ability to invoke preact-cli programmatically and obtain a webpack configuration have helped avoid the wall you hit?  Something like:

[code]

[2017-09-11 23:47] tmcw commented on #366
If preact-cli exposed a server that I could compose with an existing express server at the node level, that'd be ideal.

But also exposing the Webpack config would be a huge help - wrastling webpack is easily 80% of the yak-shaving here.

[2017-09-12 00:10] developit commented on #366
Right now we recommend people do configuration via `preact.config.js`:

[code]

[2017-09-12 00:16] developit commented on #365
Hi there! This seems like the same issue as #275, which ended up being an upstream issue: jantimon/html-webpack-plugin#753

[2017-09-12 00:16] tmcw commented on #366
Yep, I was using that, it worked fairly well.

But eventually the indirection of proxying requests, and the flakiness of the proxy approach - how I'd need to configure the backend to listen on port 5000 but accept requests intended for 8080 (and embed links to 8080), how it distorts errors, wouldn't pass-through 400 responses, and so on - meant that I wanted to remove the proxy and use webpack-dev

[2017-09-12 10:40] techboy-zero commented on #304
Downgrading to v5.3.0 did not work for me. Then I downgraded to v5.0.3 as @nemoxps mentioned. Now it works fine.

[2017-09-12 23:04] variable-content commented on #363
Thanks @developit, that's useful to know.

I'm using preact-habitat in my index.js file, which builds the js file but results in a number of errors during the build process:

[code]

Seems like it messes with SSR - which I try to disable by building with this command:
`preact build -- --prerender false`

but that results in another error
`multi ./index.js
Module not found: Error: Can't resolve 'c:

[2017-09-13 00:01] variable-content commented on #363
Ignore my comment above.

Was able to disable SSR using the correct flag for `preact build`: --no-prerender
I was using the `preact watch` flag which is subtly different: --prerender false

[2017-09-14 04:36] nephix commented on #365
We updated yarn to 1.0.2 and updated all globally installed packages now the mentioned preact-cli commands seem to work. Not sure what caused the issue. Another developer had the same problem  but had it installed via npm and said running
[code]
solved it on his machine.

[2017-09-14 04:36] #365 closed

[2017-09-14 16:44] lukeed opened #367 "Upgrade to Webpack 3"
And remove/replace `webpack-blocks` in the process?
  _We _currently_ have to since it only supports `1.x` and `2.x`_

[2017-09-14 17:34] reznord commented on #367
We should, that reduces the bundle size as well (I remember from the previous PR)

Since now that templates are in, we can totally ignore the last PR and create a whole new PR or totally start fresh.

@lukeed would you like to take it? Since you have already sth similar to that

[2017-09-15 22:11] khalibloo opened #368 "Error: Couldn't find preset "latest" relative to directory"
Yes, latest as of today

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I get the following error when I run npm start.
`Error: Couldn't find preset "latest" relative to directory "C:\\blah\\blah"`

**If the current behavior is a bug, please provide the steps to reproduce.**
I simply installed preact-cli as instructed in the readme. Then I installe

[2017-09-17 00:15] lambrospetrou opened #369 "Newly created app fails ESlint checks and fails to call test target on preact CLI"
**Do you want to request a *feature* or report a *bug*?**
**Bug**

**What is the current behavior?**
When I run ```yarn test``` in a newly created preact app it fails with 2 errors and 2 eslint warnings.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Created a new preact app using ```preact create app-name --yarn```
2. Run ```yarn test```

**What is the expected b

[2017-09-17 00:32] lambrospetrou commented on #369
Also, once you fix the eslint warnings and the build succeeds you get the following failure cause preact CLI does not have a ```test``` argument.

[code]

[2017-09-17 01:39] lambrospetrou commented on #369
I spend some time investigating to see how the target ```test: "eslint src && preact test"``` is added and I realised that the code adding that was removed in this commit https://github.com/developit/preact-cli/commit/f1891fe70a9c81920fe236ba1c0d1c793df96bb5#diff-3a91220e73b4c8574727374e6c42763e

I don't know if it is removed on purpose since it failed or if it was just left out on error during th

[2017-09-17 03:51] reznord commented on #369
We are moving to custom templates in the next version of the preact-cli, so the examples in preact-cli is gonna be removed.

Regarding the test command, We are going to leave that in the user land so, the user can go ahead and use either Jest/Mocha/Chai/Enzyme and configure the app according to it.

Regarding the ESLint issue, we are planning to move to a new preset instead of using the [current o

[2017-09-17 03:51] #369 closed

[2017-09-17 10:47] robinvdvleuten opened #371 "How to unregister / remove any registered service workers?"
Is it possible to remove any registered service workers by this CLI for any visitors on a production app? The application runs currently with the precache sw.js and I would like to have it removed. I understand that I can do it myself with the console tools, but I can't let my users do the same.

[2017-09-17 16:11] lambrospetrou commented on #369
OK good to know. It's just bad first experience of the framework when creating a new app with the recommended CLI and then failing to build;p
Looking forward to trying the next version then.

Thanks

[2017-09-17 19:02] lukeed opened #372 "Remove `less` deps"
No need for them in core CLI, now that templates are extraneous to the downloadable.

- Template authors will declare their own `style-*` loaders
- We use `proxy-loader` which will pick up the necessary loaders (if properly defined)

[2017-09-17 20:32] lukeed opened #373 "Custom `https` certs during `watch`"
The `webpack-dev-server` is able to [accept an object](https://webpack.js.org/configuration/dev-server/#devserver-https) for custom HTTPS configuration.

Right now, we only [display an `https://` origin](https://github.com/developit/preact-cli/blob/master/src/lib/webpack/webpack-client-config.js#L114) if we've received `true`.

However, we still forward the `config.https` object to `webpack-dev-se

[2017-09-17 21:29] variable-content commented on #303
Ditto, would love this to easily disable css modules.

[2017-09-17 22:44] ralphsmith80 opened #374 "Firebase config overwrites unrelated keys"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Output production on `hosting` key options

**If the current behavior is a bug, please provide the steps to reproduce.**
With an existing `firebase.json` file:
`npm run serve -- --server config --dest .`

**What is the expected behavior?**
The file is merged only overriding the `hosting` key. A deep

[2017-09-17 23:26] lukeed commented on #374
So you're saying that we're overwriting the entire `firebase.json` file with our own contents, thus deleting whatever was there previously?

[2017-09-18 02:52] prateekbh commented on #371
sadly this line prevent you from doing so
https://github.com/developit/preact-cli/blob/19067c7091b463b2a70b319e87d15037880b4fbc/src/lib/entry.js#L7

although I guess I can add a quick solution to this, will try to add a flag.
@reznord u think a flag ``--no-pwa` should be a good solution here? if yes, you'd need to add in you interactive stuff as well

[2017-09-18 04:49] reznord commented on #371
This defies the whole purpose of preact-cli.

But still we can unregister a service worker which makes sense (I still have to try it out).

[2017-09-18 04:54] prateekbh commented on #371
It shouldn't right? not sure if everything needs to be a Offline ready or have SW behind it. e.g. a documentation of a project. or for what ever reason @robinvdvleuten wants it.

`preact-cli` is the cli for building preact web apps. PWA preferred but not necessary

[2017-09-18 05:33] reznord commented on #372
Agreed, but we need to improve on documentation for all these things.

[2017-09-18 08:33] robinvdvleuten commented on #371
I use it indeed mainly to prevent myself from spending a couple of hours on a decent webpack setup. The `preact-cli` project gets me starting quickly on any prototype I would like to make. It would be very nice if it's possible to opt-out yourself from the PWA when generating a new project, but it would also be very nice to be able to opt-out in any later stages of your project.

The [CRA](https:/

[2017-09-18 08:34] robinvdvleuten commented on #338
@reznord I did by adding an `.eslintignore` file, thanks for all the help!

[2017-09-18 08:34] #338 closed

[2017-09-18 08:50] prateekbh commented on #371
opt-out/opt-in can be controlled by a build step flag at anytime

[2017-09-18 09:04] reznord commented on #371
makes sense to me.

@developit @lukeed what do you think about this?

[2017-09-18 13:05] prateekbh commented on #371
@developit @lukeed @reznord lemme know if the approach makes sense, m up to send this PR

[2017-09-18 14:08] developit commented on #371
Should we use a more specific flag like `--no-sw` ?

[2017-09-18 14:49] reznord commented on #371
That makes sense! This should be only for the build step right?

[2017-09-18 14:52] ralphsmith80 commented on #374
@lukeed that's correct. Notice in my **expected** config file I have a top level `database` key which is used for defining database rules. In my case I'm just pointing to another file so I can separate that out, but the inline content would look something like:

[code]

When I run `npm run serve -- --server config --dest .` to generate the config it writes the following to `firebase.json`.

[code]

[2017-09-18 15:11] lukeed commented on #269
I'm sorry none of us got back to you -- I missed it somehow! 🙈

It happens to be a duplicate of #244, which has a fix mentioned:

[code]

Sorry again, but hope that's still of some help~!

[2017-09-18 15:11] #269 closed

[2017-09-18 15:23] lukeed commented on #374
Got it, thanks! Was just double-checking.

[2017-09-18 15:24] lukeed commented on #371
Same idea, but what about `--no-offline`?

[2017-09-18 15:28] talvasconcelos opened #376 "[Question] - Hey guys, how can i achieve this with simple global state with preact?"
Hey guys how can one do this kind of redux hack in preact?

[You Probably Don’t Need Redux](https://medium.com/@blairanderson/you-probably-dont-need-redux-1b404204a07f)

I'm using preact-cli and the index.js file just exports the App component.

[code]
Where would i wrapp with AppState component?

[2017-09-18 15:36] lukeed commented on #376
Hey, this is a little more appropriate for our [Slack](https://preact.slack.com) (imo), but to answer your question, you have two options:

1. Import your `<AppState />` into your `components/app/index.js` file, then export the "wrapped" version of `<App/>`

2. Import `<App/>` and `<AppState/>` into the main `index.js` file & export a functional component of the two:

[code]

Hope that helps! Ther

[2017-09-18 15:36] #376 closed

[2017-09-18 15:40] talvasconcelos commented on #376
Ok, thanks and sorry about posting here.

[2017-09-18 15:42] lukeed commented on #376
No worries!

[2017-09-18 16:59] lukeed commented on #289
Re: Clearing Console~

My `console-clear` has a [`keepHistory` option](https://github.com/lukeed/console-clear#clearkeephistory) that will "soft clear" the console. The new content will appear at the top, as if it's been wiped, but the history is still preserved & accessible via scrolling.

Perhaps we should use that by default? Best of both worlds, and no need for conditional logic.

[2017-09-19 03:21] prateekbh commented on #371
well no offline can be achieved using `preact-cli-sw-precache-plugin` by giving empty array for precache, the problem is for not being able to add `sw.js`

[2017-09-19 06:46] robinvdvleuten commented on #371
It would also be nice if you're able to opt-out of the sw.js if your app is already running on production

[2017-09-19 08:31] prateekbh commented on #371
@robinvdvleuten to opt-out of already running `sw.js` you'll need to add some script to add in your code. pretty trivial

[2017-09-19 14:28] babusurendra commented on #304
@SvetaSR  @techboy-zero , upgrade npm version to 5.4.2 it will fix your problem. my issues fixed with the same.

[2017-09-19 15:37] robinvdvleuten commented on #371
@prateekbh do you maybe have a small example?

[2017-09-19 15:39] prateekbh commented on #371
https://gist.github.com/inian/1c363e1e8cfcf6e7a19b7d9f43809100

[2017-09-20 00:59] dav-is opened #378 "https termination at nginx reverse proxy"
**Do you want to request a *feature* or report a *bug*?** feature

**What is the current behavior?**
Forced http2 and https

**What is the expected behavior?**
Add parameter to run in production using http only. Node will be behind load balancer and reverse proxy where https will be appended. The browser will still receive a tls connection, there's just no need for tls in internal networks.

**If

[2017-09-20 03:17] Jonarod commented on #371
Hey !
I don't know if I step in the wrong thread but, what if instead of unregistering the worker we could provide an option to update our worker ?
According to [this cool reliable post](https://developers.google.com/web/fundamentals/getting-started/primers/service-workers) :

What do I mean by this ?

We could keep the best of both worlds: having service workers by default + invalidate any worker

[2017-09-20 03:59] Jonarod commented on #371
To support my request as well as replying to the initial question, I would suggest read of this [specific SO answer](http://stackoverflow.com/questions/38843970/service-worker-javascript-update-frequency-every-24-hours/38854905#38854905) to ensure the `sw.js` file is correctly fetched from the network (and not from the cache). Then, I would specifically update my workers `cacheName` with some new

[2017-09-20 05:03] prateekbh commented on #371
@Jonarod Thanks for the detailed explanation. I totally buy your point.
However all what you said is already totally possible with `preact-cli-sw-precache-plugin`. Whit this you can control every fine detail for your service worker.

But I am of the opinion that, lets not be rigid about anything. Currently `sw-precache` does not give you control for the custom login in the produced service worker.

[2017-09-20 06:20] techboy-zero commented on #304
@babusurendra Thanks for the response. I upgraded npm version to 5.4.2 right after it's release. And till now I have not faced any problem.

[2017-09-20 07:10] robinvdvleuten commented on #371
@prateekbh Thanks for the gist! Excuse my inexperience with serviceworker registrations though. I can see myself adding this gist snippet to my Preact app code, so that the serviceworker unregisters. But is it then also possible to remove the sw.js file in the same deployment? When I do something similar, the current sw.js stays registered in my browser and the updated app js is never loaded by th

[2017-09-20 08:51] Jonarod commented on #371
@prateekbh Sorry for my ignorance on the matter, but how would you force new `cacheName` string using `preact-cli-sw-precache-plugin` ?
Forcing a new name into `preact.config.js` would defeat the purpose:
If I force the `cacheName` to be a fixed string of my choice: I will have to manually maintain it.
If I force the `cacheName` to be timestamp-like pattern: I will force my users to re-update thei

[2017-09-20 08:58] prateekbh commented on #371
@robinvdvleuten so here's how it should work for you for now.
a.) You add that gist to your code(plz test on local if it actually unregisters your sw) bundle route
b.) deploy this code(using the new flag)
c.) your users will see a new hash on your bundle and precache that. This time since the service worker was already there, nothing will happen.
d.) on second visit new bundle code will be execute

[2017-09-20 09:07] prateekbh commented on #371
@Jonarod @robinvdvleuten ok if you want to still have the service worker and totally remove any already precached version here is what u white in your preact.config.js

[code]

This will strip the registered `sw.js` immedeiately and make this new `sw.js` your service worker. Although be informed that now sw will have no role to play and will just be a perf overhead. So if this is all what u want,

[2017-09-20 09:19] prateekbh commented on #371
also @Jonarod the way current things works is when u change a code in bundle or remove/add anything in precache entries or introduce/remove any runtime caching strategy. there is some or other change in the final `sw.js` this makes the browser unregister the older one and install the fresh one.

So,
A.) you do not need to change something cache name, virtually any change in sw.js will reinstall th

[2017-09-20 09:26] Jonarod commented on #371
@prateekbh thanks again for you time !
For my part, this is not quite what I need.
I want service-workers for my app. I think it really improves everything.
However, whenever I make a new change to my app, I would like to control replacement of my `sw.js` because I need my users to have the new site-version.

Actually, my problem is quite straightforward, you will get it with this example: if you

[2017-09-20 09:31] Jonarod commented on #371
Well, I might do something wrong then.
In my side, if I make changes to A.js, then deploy to Netlify, I don't get changes unless I clear my cache. Even with new hashed version of my assets, it seems like my `sw.js` is always serving my cache.
:/

[2017-09-20 09:34] prateekbh commented on #371
hmmm intereseting.. can i get the URL ur webapp?
would love to check.. is ur sw.js itself having cache headers?

[2017-09-20 09:34] Jonarod commented on #371
I see you said this:

d.) on second visit new bundle code will be executed and the service worker will be unregistered. Also no new sw will registered.

Now I am wondering if I actually refreshed the app twice before complaining about the `sw.js`.
Give me 1mn to deploy a basic change and refresh it twice to see what happens...

[2017-09-20 09:46] Jonarod commented on #371
AHAH ok. My bad.
Refreshing the TWICE takes the changes...
So basically, the reproduce steps are:
1. `git add . && git commit && git push origin master`
2. Github sends commit webhook to Netlify
3. Netlify rebuilds the app and serves it through their CDN
4. I go to my `url` and hit refresh => nothing changes (this is where I was stuck initially)
5. I go hit refresh (again) => changes apply

That i

[2017-09-20 09:54] Jonarod commented on #371
@prateekbh here's my cache header for the sw.js `cache-control:public, max-age=0, must-revalidate`

[2017-09-20 10:12] prateekbh commented on #371
@Jonarod what u said above is expected. Here's why: To make your app fast you added `sw`, which returns index.html/js/css from cache and thus your app is ultra fast. 👍

now you deploy another version, and person X comes to your app. Due to already registered `sw` your app opens quick and meanwhile your browser finds out and download and re-register the new one. And this is exactly what is happenin

[2017-09-20 10:31] Jonarod commented on #371
Yeah, I documented myself a bit more on the subject.
[Here is a good read](https://developers.google.com/web/fundamentals/instant-and-offline/service-worker/lifecycle) for other PWA newbie like me. It clearly defines updates strategies for service-workers [here](https://developers.google.com/web/fundamentals/instant-and-offline/service-worker/lifecycle#skip_the_waiting_phase), and [here](https://d

[2017-09-20 10:33] prateekbh commented on #371
happy to help 😃, hit me up on any individual channel if u need further help.

[2017-09-21 05:41] joshuataylor commented on #371
We're also facing the same issues with serviceworkers (caching), and are thinking that in the short term just disabling them might help, as we're rolling out frequent updates. ServiceWorkers are a killer feature, and I love them, but the double refresh does hurt - but the idea of showing "New updates" would solve this as well.

Good initiative, and would be happy to help test your PR on our site.

[2017-09-21 05:48] prateekbh commented on #371
@joshuataylor adding code to show a the UI of new updates available might not be best suited for core `preact-cli` but would be best to have a separate component or a plugin maybe..

The opened PR will just help you in disabling the service workers.

[2017-09-21 05:51] joshuataylor commented on #371
Yeah, I meant as a separate addon, obviously not in core :).

[2017-09-21 15:47] #367 closed

[2017-09-21 15:47] #373 closed

[2017-09-21 18:22] #303 closed

[2017-09-21 22:16] dav-is opened #380 "404 Errors are Actually 200?!"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
No 404 pages, and even on the preact home page, 404 pages are actually showing 200!!
**If the current behavior is a bug, please provide the steps to reproduce.**
Go to http://localhost:8080/randomstringthatisntroute
Open chrome network panel
See that it responds with 200

**What is the expected behavio

[2017-09-21 22:22] lukeed commented on #380
There's no server included -- that's where the status codes come from.

The `Router` included will act as a catch-all _if and only if_ you choose to redirect all paths to the index. This _is_ the included configuration, but only if you use our config on your server.

[2017-09-21 22:24] dav-is commented on #380
I thought this package included some server side rendering?

[2017-09-21 22:28] lukeed commented on #380
There's _pre_rendering, which produces populated HTML files for static hosting.

[2017-09-21 22:30] dav-is commented on #380
Oh ok that makes sense. The README references server side rendering (which I wouldn't say is the same thing as prerendering) and it confused me

[2017-09-21 22:30] #380 closed

[2017-09-21 22:32] dav-is commented on #378
I was under the assumption that this package used SSR, but since it doens't there's no need to run node at all :man_shrugging:

[2017-09-21 22:39] dav-is commented on #378
So apparently it prerenders, but doesn't output any html files... only seemingly arbitrary json files?

[2017-09-21 23:57] lukeed commented on #378
Hey, by default we only prerender the `index.html` (`/`) route. If you want to do multiple, you have to [specify the routes](https://github.com/developit/preact-cli#prerender-multiple-routes).

[2017-09-22 05:25] #372 closed

[2017-09-22 05:37] aaronchenwei commented on #36
@yavorski preact-cli is using babel-preset-env, which would trigger built-in transform-async-to-generator for the preact-cli default browserlist. That is why you saw "*".

As async/await has natively been supported in Chrome, we override preact-cli default browserlist to just chrome. Then transform-async-to-generator won't be triggered and then we can use fast-async. However, for browser chrome, b

[2017-09-22 23:04] kaseyhinton commented on #262
Had this same problem today. I did the setup in Git Bash and it still isn't working. Still haven't found a solution.

[2017-09-23 03:01] cohesively opened #381 "`devServer.public` property is ignored by the WebpackDevServer"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

I have port `8080` reverse proxied to the `/` route.

With the following `preact.config.js`, the WebpackDevServer (/w HMR) is disconnecting shortly after page load because it tries to make requests to `https://abc.com:8080/sockjs-node/info?t=1506134504647` instead of `https://abc.com/sockjs-node/...`.

[2017-09-25 05:56] aaronchenwei commented on #36
a little bit further analysis to introduce fast-async with preact-cli,

[code]
We could exclude 'transform-async-to-generator' from babel-preset-env and then add fast-async as one of the plugins. However, the above babel config inside preact-cli also include 'babel-preset-stage-1'. There is no way to exclude 'transform-async-to-generator' as it is part of 'babel-preset-stage-3'.

If we want to tak

[2017-09-26 12:32] #371 closed

[2017-09-26 12:53] #353 closed

[2017-09-26 13:16] silverlight513 commented on #374
I'll take a look into this in a couple hours after work

[2017-09-26 13:31] joelchu commented on #191
I run the npm via sudo - the problem still there.

I am running Ubuntu Mate 17.04

[2017-09-26 14:35] calpa commented on #191
@joelchu Try to install without sudo...
Just type `npm i -g preact-cli` is ok.

Env: npm: v5.3.0, node: v8.5.0

[2017-09-26 15:34] joelchu commented on #191
witthout sudo it won't even run.
Because I am not changing the folder permission just because of node.js
so it's stock option.

Why can't they just do standard stuff. angular react don't have problem with standard cli installation.

[2017-09-26 17:18] lukeed commented on #348
I don't think it's possible to watch multiple "src"-type directories in Webpack -- at least, not without running multiple compilers.

You can continue to play with symlinks, as you've suggested, or you can play with the [`watchOptions`](https://webpack.js.org/configuration/watch/#watchoptions). Our [included config](https://github.com/developit/preact-cli/blob/81c7bb23e9c00ba96da1c4b9caec0350570b8

[2017-09-26 17:18] #348 closed

[2017-09-26 19:11] nygdjs commented on #348
Thanks anyway. 🎉

In the meanwhile started to experiment with a [yarn-workspaces](https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/) based monorepo, and it seems to solve a lot of problems with symlinks so far.

[2017-09-26 19:23] lukeed commented on #348
Cool! I'll look into it sometime.

[2017-09-28 09:58] fokusferit commented on #260
Hi everyone,

as this task of having a testing environment setup was important for a project so I tried to get Jest + preact-render-spy (but you could use any library) up and running.

I've created a Gist with the steps I did https://gist.github.com/fokusferit/5507f084b8414af7b03c31f4bffd7536.

Currently it is still a WIP solution but the things I did:
1.  Wrote a transform Function for Jest which

[2017-09-28 10:13] reznord commented on #260
@fokusferit thanks for trying this out. 🙏

In the next version of preact-cli we are moving away to [custom-templates](https://github.com/preactjs-templates). The main advantage of this is the user can clone any repo from github. It needs to have a specific folder `template` in which the entire code for the app is placed.

So, you can go ahead and create a `custom-template` with this setup which su

[2017-09-28 14:14] fokusferit commented on #260
@reznord great to know!

I will create such a template and post it here afterwards.

[2017-10-01 11:10] tomasswood commented on #260
@fokusferit I'll be interested to see what you have come up with, once you do it and post it.

[2017-10-02 20:12] wescoder opened #385 "Watch script is not `watch` and instead is `dev`"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
README shows script for starting dev server as `yarn watch` but in `package.json` we have
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Install `preact-cli` create a new project with `preact create --yarn test-app test`

**What is the expected behavior?**
Either

[2017-10-02 20:15] reznord commented on #385
I think you got confused somewhere:

[Here](https://github.com/developit/preact-cli#using-yarn) it shows `yarn start` for running dev server.

[2017-10-02 20:17] lukeed commented on #385
@reznord: @wescoder is correct for the 1.4.1 release. We have `yarn watch` written in the README but all examples ship `dev` command.

@wescoder: Sorry for the inconvenience, but this is no longer applicable moving forward. We appreciate you taking the time to submit this, though!

[2017-10-02 20:19] reznord commented on #385
@wescoder Oh my bad. Sorry for the inconvenience.

Just for further clarification on scripts:

`npm run start` or `yarn start`: Runs serve or dev, depending on NODE_ENV value. Defaults to dev server
`npm run dev` or `yarn dev`: Run a development, HMR server
`npm run serve` or `yarn serve`: Run a production-like server
`npm run build` or `yarn build`: Production-ready build

[2017-10-02 20:52] wescoder commented on #385
Oh I see it is correct in master branch indeed, thanks.
I'm closing this.

[2017-10-02 20:52] #385 closed

[2017-10-05 17:06] r21meghashyam commented on #191
Running with sudo gives callback() error
Running without sudo gives EACCES error

[2017-10-05 23:52] mehmetkose opened #386 "Disabling Prefixes"
Hello, I just want to ask quick question, I'll use http2 features at the backend and I need to know exact file names (js, map, css etc). So how can I disable version prefixing?
Thanks.

- node version
8.5.0
- npm version
5.4.2
- Operating system
Mac OS

[2017-10-06 17:13] nerijusgood commented on #289
This is minor, but maybe we could add [webpack-dashboard](https://github.com/FormidableLabs/webpack-dashboard) ? This adds really nice overview over a bunch of things.

[2017-10-06 17:57] imranismail opened #387 "setImmediate is not defined"
I'm trying to use generator function from mobx-state-tree and I get this. Any clues as to how to fix this?

[code]

The code

[code]

This only happens during `preact watch` but works when I use `preact watch --https`

[2017-10-07 10:51] nerijusgood opened #388 "Add class on router Link"
**What is the current behavior?**
When I try to add `class={style.name}` on `Link` router element it does not appear.

    <Link href="/" class={style.name}>Link</Link>

**If the current behavior is a bug, please provide the steps to reproduce.**
There is no error, however, the class is simply not there:

    <a href="/" class>Link</a>

**What is the expected behavior?**
I would expect the class t

[2017-10-07 16:16] reznord commented on #388
It works totally fine for me with latest versions. Can you please show how you are using it?

This is what I am doing:

[code]

<img width="704" alt="screen shot 2017-10-07 at 21 23 48" src="https://user-images.githubusercontent.com/3415488/31309596-3a28e43c-aba6-11e7-9104-76ae97eb6528.png">

[2017-10-07 16:20] reznord commented on #387
It would be great if you can share the code so that I can take a look at it.

It _might_ be related to mobx-state-tree, not sure though.

[2017-10-07 16:43] NateRadebaugh opened #389 "Newly generated code does not conform to eslint settings"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `yarn test` on a newly generated project yields 2 errors and 2 warnings for eslint.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create a new project using preact-cli
2. Attempt to run tests:

[code]

**What is the expected behavior?**
A newly created project

[2017-10-07 16:44] reznord commented on #65
`preact serve` is used for testing the production build locally where you can test the lighthouse scores, check if there are any performance related issue or not.

[2017-10-07 16:44] #65 closed

[2017-10-07 16:57] reznord commented on #102
@kahlil update-notifier will be available in the next version of preact-cli.

Keeping an app up-to-date in preact-cli will not be a problem since we are adding preact-cli as a dependency, it will always have the latest changes. So, just bumping up the `preact-cli` version will do the work.

[2017-10-07 16:58] conradob opened #390 "preact serve without https"
Is there a way to run `preact serve` without https?
In my server I'm already proxying the requests from `443` to my `PORT` environment variable

`preact serve` command does not allow `--https false` option.

Thanks.

[2017-10-07 17:21] kahlil commented on #102
nice

Sent from my iPhone

[2017-10-07 17:33] reznord commented on #389
Hey, right now we don't have support for tests and it just runs lint on the `src` folder.

In the upcoming versions we are moving to [templates](https://github.com/preactjs-templates) where the user can clone and use it. This way the user can use any tests which he wants.

[2017-10-07 17:33] #389 closed

[2017-10-08 03:23] imranismail commented on #387
Hi @reznord

I've created a repo here: https://github.com/imranismail/preact-cli-setimmediate/blob/master/src/index.js